


  /*---------------------------------------
             Main section
          -----------------------------------------*/



  #main{
    padding-top: 120px;
  }

  
  .content-sidebar{
    background: #fff;
    direction: rtl;
    padding: 0 15px;
    margin: 15px auto;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
  }

  

  /*---------------------------------------
              Sidebar Styles
          -----------------------------------------*/

  hr {
    margin-bottom: 0;
  }

  .title-widget {
    text-align: right;
    padding: 15px 15px 0 15px;
  }

  .title-widget div {
    font-size: 18px;
  }



.category-products-widget > ul > li {
  padding-top: 12px;
}

.category-products-widget > ul > li:last-of-type {
  border-bottom: none;
}

.content-sidebar {
  text-align: right;
}

.content-sidebar .green-button {
  min-width: 130px;
  width: 100%;
  font-size: 13px;
  padding: 6px 0;
  margin: 0;
}

.content-sidebar .button-wrapper {
  text-align: center;
}

.content-sidebar h2 a {
  font-size: 17px;
  color: #333;
  font-weight: 700;
  margin: 5px;
}

.content-sidebar h2 i {
  font-weight: 700;
  position: relative;
  top: 2px;
}

.category-products-widget i {
  transition: 300ms;
}

.sub-category-product {
  padding: 0 15px;
  padding-right: 37px;
  padding-top: 5px;
}

.sub-category-product a {
  color: #777777;
  transition: 300ms;
}

.content-sidebar h2 a:hover,
.sub-category-product a:hover {
  color: #00c569;
  transition: 300ms;
}

.content-sidebar h2{
  padding: 0 15px;
}

.sub-category-product a.active {
  color: #00c569;
  background: #fafafa;
}

.list-open .button-toggle i {
  transform: rotate(180deg);
  transition: 300ms;
}

.list-open h2 i {
  transform: rotate(-90deg);
}


.sub-category-product {
  transition: 300ms;
  overflow: hidden;
}

.little {
  display: block;
  /* height: 168px; */
  height: 145px;
  transition: 300ms;
}

.header-item-default {
  margin: 15px 0;
  padding: 15px;
}

.sub-category-item h4 a,
.sub-category-item h1 a {
  font-size: 14px;
  line-height: 1.5;
  width: 100%;

  border: none;

  background: none;

  border-bottom: 1px solid #eee;

  text-align: right;

  padding: 12px 15px 13px;

  display: block;
}

.content-sidebar .green-button {
  min-width: 130px;
  width: 100%;
  font-size: 13px;
  padding: 6px 0;
  margin: 0;
  background: #f0f3f6;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 0;
  color: #534d4d !important;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  font-weight: 700;
}

  /*---------------------------------------
              End Sidebar Styles
          -----------------------------------------*/




  /*---------------------------------------
              Main product Styles
          -----------------------------------------*/

  .verified-user {
      position: relative;
      display: inline-block;
      overflow: initial !important;
      background: none;
      border: none;
      font-size: 18px;
      color: #1da1f2;
      top: 1px;
      line-height: 1.3;
      font-weight: 900;
      padding: 0;
  }

  .verified-user::before {
      content: "\F00C";
      position: absolute;
      left: 5px;
      font-family: "Font Awesome 5 Free";
      color: #fff;
      top: 4px;
      font-size: 12px;
      z-index: 1;
      line-height: 1;
      font-weight: 900;
  }
  
  .user-information-wrapper i {
      position: relative;
      top: 1px;
      padding: 0 2px;
  }

  .user-information-wrapper i {
    position: relative;
    top: 1px;
    padding: 0 2px;
  }
  
  .user-information-wrapper .user-information-wrapper,
  .user-information-wrapper .article-action-buttons button {
    font-size: 14px;
  
    font-weight: bold;
  
    padding: 4px 7px 5px;
  
    margin: 0;
  
    margin-top: 3px;
  
    line-height: 1.618;
  }
  
  .user-information-wrapper .user-information-wrapper {
    height: 55px;
  }
  
  .user-information-wrapper .green-text {
    color: #00c569;
  }
  
  .user-information-wrapper .green-text:hover {
    color: #279b41;
  }
  
  .user-information-wrapper .red-text {
    color: #e41c38;
  }
  
  .user-information-wrapper .red-text:hover {
    color: #d81b35;
  }
  
  .user-information-wrapper .user-image {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0;
    margin-left: 10px;
  }
  
  .user-information-wrapper .user-information-content-image {
    float: right;
  }
  
  .user-information-wrapper {
    padding: 5px 15px;
    border-bottom: 2px solid #eeeeee;
    margin: 0;
    min-height: 52px;
  }
  
  
  .user-information-wrapper .article-action-buttons {
    float: left !important;
  }
  
  .user-information-wrapper .user-action-link {
    padding-top: 19px;
  
    padding-right: 8px;
  
    font-size: 11px;
  }
  
  .user-information-wrapper .user-action-link.default {
    padding-top: 9px;
  }
  
  a.user-name-link {
    max-width: 120px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    height: 21px;
    padding-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
.response-rate-wrapper {
  width: 45px;
}

.response-rate-wrapper button {
  background: #f2f2f2;
  border: none;
  border-radius: 20px;
  font-size: 13px;
  text-align: center;
  color: #e41c38;
  width: 100%;
  line-height: initial;
  padding: 0;
}

  .grid-list a.user-name-link {

    height: initial;

    max-width: calc(100% - 70px);

    overflow: hidden;
  
    font-size: 14px;
  
    font-weight: bold;
  
    color: #777;
  
    display: block;
  

    margin: 0;


    line-height: 1.618;

    float: right;
    
    white-space: nowrap;
  
    text-overflow: ellipsis;
  }
  
  .user-information-content, .user-action-link, .user-information-link {
    float: right;
    display: block;
    overflow: hidden;
}
  
  
   .user-information-content {
    margin: 3px 5px;
    padding: 4px 0 5px;

    border-bottom: 1px solid #e9ecef;
  
  }
  
 .grid-list .user-information-content,.grid-list .user-action-link,.grid-list .user-information-link {
    float: none;
    display: block;
    overflow: hidden;
}

  .user-information-content.default {
    padding-top: 5px;
  }
  
  .user-information-wrapper .user-image img,
  .user-information-wrapper .user-image > div {
    height: 100%;
  }
  
  .user-information-wrapper p.response-rate {
    font-size: 10px;
    height: 21px;
    padding: 0;
  }
  .user-information-wrapper .response-rate span {
    color: #e41c38;
  }
  
  .is-user-valid{
      border: 2px solid #00c569;
  }

  .main-content-item{
    direction: rtl;
    margin: 15px auto;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    padding: 0;
    background: #fff;
    float: right;
    width: 100%;
    overflow: hidden;
  }
  
 .grid-list {
  padding: 0 3px;
  }
  
 .grid-list .main-content-item{
    height: 250px;
  }

  .main-article-contents p a,
  .main-article-contents span {
  color: #474747;
}

.main-article-contents h3 a {
  color: #777;
}
.main-article-contents h3 {
  font-size: 16px;

  font-weight: bold;

  max-width: 240px;

  overflow: hidden;

  height: 25px;

  line-height: 1.618;

  white-space: nowrap;

  text-overflow: ellipsis;

  margin-bottom: 10px;
}

.main-article-contents-wrapper {
  overflow: hidden;
  display: block;
}

.main-article-contents-image-wrapper {
  float: right;
  padding: 15px;
      padding-left: 15px;
  padding-left: 0;
}

.grid-list .main-article-contents-image-wrapper {
  width: 100%;
  height: 140px;
  overflow: hidden;
  position: relative;
  float: none;
  padding: 0;
}

.main-article-contents {
  float: right;
  width: calc(100% - 155px);
  position: relative;
  padding: 15px;
  padding-right: 10px;
}

.grid-list .main-article-contents {
  width: 100%;
  padding: 5px;
}

.main-article-contents > a {
  display: block;
  float: right;
}

.main-article-contents {
  color: #474747;
}

.main-article-contents p {
  font-size: 15px;

  font-weight: bold;

  color: #777;

  max-width: 500px;

  overflow: hidden;

  height: 25px;

  line-height: 1.618;

  white-space: nowrap;

  text-overflow: ellipsis;

  margin-bottom: 10px;
}
.grid-list .main-article-contents p {
  font-size: 13px;
}

.share-link {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 11px;
  border: 1px solid;
  border-radius: 4px;
  padding: 0 5px;
  color: #777 !important;
  line-height: 21px;
}

.valid-user-badge {
  width: 36px;
  height: 38px;
  background: #00c569;
  position: absolute;
  left: 14px;
  top: 0;
  padding: 2px;
  border-top: 3px solid #00b761;
  text-align: center;
  color: #fff !important;
}

.grid-list .valid-user-badge {
  width: 30px;
  height: 35px;
  left: 10px;
  padding: 0 3px;
}


.valid-user-badge::after {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px 14px;
  border-color: transparent #00c569 transparent #00c569;
  line-height: 0;
  _border-color: #000000 #000000 #000000 #6980fe;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
}

.grid-list .valid-user-badge::after {
  border-width: 0 15px 14px;
}
.text-danger {
  height: 24px;
}

.pointer-class {
  cursor: pointer;
}

.lds-ring {
  display: inline-block;

  position: absolute;

  width: 64px;

  height: 64px;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 5px solid #00c569;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00c569 transparent transparent transparent;
}

.lds-ring-alt {
  display: block;
  margin-top: 50px;
  direction: rtl;
  text-align: center;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*preloader image style*/

.main-article-image {
  width: 140px;
  height: 140px;
  overflow: hidden;
  position: relative;
  background: #404b55;
  border-radius: 4px;
}

.grid-list .main-article-image {
  width: 100%;
  height: 140px;
  overflow: hidden;
  position: relative;
  background: #404b55;

}

/*preloader image style*/
.main-article-image > div.image{
  position: relative;
  z-index: 0;
  height: 100%;
}

.main-article-image img {
  width: 100%;
  height: 100%;
}

.image-count-item {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0,0,0,.5);
  padding: 5px 9px 3px;
  color: #fff;
  border-radius: 50px;
  z-index: 2;
}

.article-title.grid-list-title{
  position: absolute;
  bottom: 0;
  min-height: 40px;
  width: 100%;
  right: 0;
  background: linear-gradient(transparent,rgba(0,0,0,.5));
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.article-title.grid-list-title p{
  font-size: 15px;
  padding: 0 5px;
  color: #ebebeb;
  overflow: hidden;
  height: 25px;
  line-height: 1.618;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.article-features {
  text-align: left;

  direction: rtl;

  padding: 0 15px 15px;

  position: absolute;

  left: 15px;

  bottom: 15px;

  min-width: 150px;
}

.grid-list .article-features {
  bottom: 10px;
}

.article-features button {
  background: none;
  border: none;
}

.grid-list .article-action-buttons.calc-width-button {
  width: calc(100% - 50px) !important;
  padding-left: 10px;
}

.article-action-buttons > button {
  width: 100% !important;
  max-width: 280px;
  margin: 0 auto;
  padding: 7px;
  font-size: 18px;
}

.article-features button.disable {
  background: #777;
  border: none;
}

.article-features button.elevator-event {
  background: #e41c38;
  color: #fff;
  border-radius: 4px;
  padding: 7px 14px;
  font-size: 17px;
}

.grid-list .article-features button.elevator-event {
  position: absolute;
  left: 5px;
  bottom: 15px;
  border: none;
  border-radius: 8px;
  background: #38485f;
  color: #fff;
  padding: 4px 8px;
      font-size: 14px;
}

.article-features button.disable {
  background: #777;
  border: none;
}


.footer-article .article-action-buttons {
  display: none;
}

.grid-list .footer-article .article-action-buttons {
  display: block;
}

.grid-list .footer-article{
  overflow: hidden;
  padding: 0 10px 10px;
}

.grid-list .article-action-buttons > button{
  margin: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  display: block;
}

.full-width-button,
.full-width-button button {
  width: 100% !important;
}
.calc-width-button {
  width: calc(100% - 72px) !important;
}
.calc-width-button button {
  width: 100% !important;
}

.load-more-button {
  text-align: center;

  margin: 15px auto;
}

.load-more-button button {
  border: 1px solid;

  padding: 15px 30px;

  height: initial;

  background: #fff;

  position: relative;

  top: 0;

  border-radius: 12px;

  transition: 200ms;

  color: #00c569;
}

.load-more-button button:hover {
  top: -3px;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  transition: 200ms;
}



.btn-loader {
  overflow: hidden;
}

.btn-loader-active-wrapper {
  height: 26px;
}

.btn-loader img {
  width: 56px;

  margin-top: -15px;
}


.rate-filter-desktop-wrapper,
.rate-filter-mobile-wrapper {
  background: #fff;
  direction: rtl;
  margin: 15px auto 0;
  padding: 7px 15px;
  border-radius: 12px;
border: 1px solid #e0e0e0;
  overflow: hidden;
}

.rate-filter-desktop-wrapper > ul {
  float: right;
  padding: 4px 0;
}

.rate-filter-desktop-wrapper > ul li {
  padding: 0;
}

.rate-filter-desktop-wrapper ul button {
  background: none;

  border: none;
}
.rate-filter label {
  float: right;
  margin-left: 7px;
}

.rate-filter > button {
  padding: 8px 0;

  font-size: 14px;

  margin: 0;

  font-weight: 400;

  width: 140px;
}

.filter-select-input-wrapper {
  float: right;
  max-width: 138px;
  position: relative;
}

.filter-select-input-wrapper:after {
  content: "\F107";

  color: #777;

  position: absolute;

  display: inline-block;

  top: 9px;

  font-family: "Font Awesome 5 Free", sans-serif;

  font-weight: 900;

  left: 6px;

  font-size: 20px;

  z-index: 0;
}


.show-list-items {
  float: left;
  padding-top: 2px;
}
.show-list-items button {
  background: #eee;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 3px 14px 0;
  transition: 300ms;
}
.show-list-items button:hover {
  background: #556080;
  color: #fff;
  border-color: #556080;
  transition: 300ms;
}
.show-list-items button.active {
  background: #556080;
  color: #fff;
  border-color: #556080;
  transition: 300ms;
}


.rate-filter {
  float: right;
}

.static-sort-item{
  color: #999;
}
  /*---------------------------------------
            End Main Product section
          -----------------------------------------*/

  .title-widget {
    text-align: right;
    padding: 15px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title-widget .remove-filter {
    background: none;
    border: none;
    color: #e41c38;
    font-size: 14px;
    padding: 0;
  }
  .title-widget div {
    font-size: 18px;
  }
  
  .content-sidebar h2 {
    padding: 0 15px;
  }
  
  .content-sidebar {
    text-align: right;
  }
  
  .content-sidebar .green-button {
    min-width: 130px;
    width: 100%;
    font-size: 13px;
    padding: 6px 0;
    margin: 0;
  }
  
  .content-sidebar .button-wrapper {
    text-align: center;
  }
  
  .content-sidebar h2 a {
    font-size: 17px;
    color: #333;
    font-weight: 700;
    margin: 5px;
  }
  
  .content-sidebar h2 i {
    font-weight: 700;
    position: relative;
    top: 2px;
  }
  
  .category-products-widget {
    padding: 10px 0;
  }
  
  .category-products-widget i {
    transition: 300ms;
  }
  
  .sub-category-product {
    padding: 0 15px;
  }
  
  .sub-category-product {
    padding-right: 37px;
    padding-top: 5px;
  }
  
  .sub-category-product a {
    color: #777777;
    transition: 300ms;
  }
  
  .content-sidebar h2 a:hover,
  .sub-category-product a:hover {
    color: #00c569;
    transition: 300ms;
  }
  
  .sub-category-product a.active {
    color: #00c569;
    background: #fafafa;
  }
  
  .list-open .button-toggle i {
    transform: rotate(180deg);
    transition: 300ms;
  }
  
  .list-open h2 i {
    transform: rotate(-90deg);
  }
  
  .green-button {
    background: #f0f3f6;
    transition: 300ms;
    border-radius: 0;
    color: #534d4d !important;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }
  
  .sub-category-product {
    transition: 300ms;
    overflow: hidden;
  }
  
  .little {
    display: block;
    /* height: 168px; */
    height: 145px;
    transition: 300ms;
  }
  
  .header-item-default {
    margin: 15px 0;
    padding: 15px;
  }
  
  .sub-category-item h4 a,
  .sub-category-item h1 a {
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
  
    border: none;
  
    background: none;
  
    border-bottom: 1px solid #eee;
  
    text-align: right;
  
    padding: 12px 15px 13px;
  
    display: block;
  }
  
  .default-category-title {
    border: none;
    background: none;
    color: #313a43;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    text-align: right;
    padding: 0 22px;
  }
  
  .default-category-title > i {
    display: none;
  }
  
  .category-title {
    font-size: 15px;
    font-weight: 400;
    color: #5f6368;
    display: flex;
    justify-content: space-between;
    border: none;
    background: none;
    width: 100%;
    padding: 10px 0;
  }
  
  .default-category-title.category-title > i {
    font-size: 17px;
    color: #868686;
    display: block;
  }
  
  .category-title:hover,
  .category-title:hover i {
    color: #00c569;
  }
  
  .category-title span {
    position: relative;
    right: 0;
    transition: 150ms;
  }
  .category-title:hover span {
    right: 5px;
    transition: 150ms;
  }
  
  .category-title.back-item {
    position: relative;
    right: 0;
    transition: 150ms;
    margin-bottom: 5px;
    color: #1da1f2;
  }
  
  .category-title.back-item i {
    font-size: 14px;
    position: relative;
    top: 2px;
    margin-left: 3px;
  }
  
  .category-title.back-item:hover,
  .category-title.back-item:hover i {
    color: #1da1f2;
    transition: 150ms;
  }
  
  .category-title.back-item:hover span {
    right: -5px;
    transition: 150ms;
  }
  
 
  
  .current-category .sub-category-list {
    display: block;
    margin-top: 9px;
  }
  
  .sub-category-list .category-title {
    padding: 7px 15px;
  }
  
  .sub-category-list > li {
    padding-right: 35px;
  }
  

  
  .current-sub-category .categories-list {
    display: block;
  }
  
  .categories-list li {
    padding-right: 40px;
  }
  
  .categories-list a {
    color: #777;
    display: inline-block;
    border-right: 1px solid #e9ecef;
    padding: 10px 15px;
    width: 100%;
    transition: 150ms;
  }
  
  .categories-list a:hover,
  .categories-list a.active {
    transition: 150ms;
    color: #00c569;
    border-right-color: #00c569;
  }
  
  @media screen and (max-width: 768px) {
    .content-sidebar {
      margin: 0 auto;
      box-shadow: none;
    }
  }



.sub-header-fix {
  position: fixed;
  top: 78px;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0;
}

.sub-header {
  position: fixed;
  z-index: 1011;
  width: 100%;
  background: #fff;
}


.rate-filter-mobile-wrapper {
  border-radius: 0;
  direction: rtl;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rate-filter-mobile-wrapper.desktop-filter-items {
  border-bottom: none;
  padding: 5px 0 10px;
}

.rate-filter-mobile-wrapper::-webkit-scrollbar {
  display: none;
}

.rate-filter-mobile-wrapper > button {
  flex-shrink: 0;
  border: 1px solid #ededed;
  background: #fff;
  border-radius: 12px;
  font-size: 15px;
  color: #707070;
  padding: 3px 15px;
  display: inline-flex;
  height: 32px;
  margin-left: 10px;
}

.rate-filter-mobile-wrapper > button.mobile-category-item.filter-item {
  border-color: #fa8888;
  color: #e41c38;
  background: #fcf6f6;
}

.rate-filter-mobile-wrapper > button i {
  position: relative;
  top: 2px;
  margin-left: 5px;
}
.rate-filter-mobile-wrapper > button i.fa-times {
  position: relative;
  top: 2px;
  margin-left: 0;
  margin-right: 10px;
  font-size: 11px;
  top: 6px;
}

.rate-filter-mobile-wrapper > button:first-of-type {
  background: #fafafa;
}

.rate-filter-mobile-wrapper > button:last-of-type {
  margin-left: 0;
}

.tag-item {
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  color: #313942;
  border-radius: 12px;
  padding: 8px 27px;
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 15px;
}

.tag-item:hover {
  background: #e0e0e0;
}

.data-tag-wrapper {
  margin-top: 50px;
}