
#main-content{
    overflow: hidden;
    min-height: 600px;
    position: relative;

}
.main-content-index-pages{
    padding-top: 106px;
    direction: rtl;
    text-align: right;
    line-height: 1.618;
}
.main-content-index-pages h1 ,.main-content-index-pages h2,.main-content-index-pages h3,.main-content-index-pages h4,.main-content-index-pages h5 {
    margin: 15px 0;
}
.green-button {
    margin: 15px 0 0;
    display: inline-block;
    background: #28a745;
    color: #fff;
    padding: 10px 35px;
    border-radius: 3px;
    text-align: center;
    border: none;
    -webkit-transition: 300ms;
    transition: 300ms;
}
.green-button:hover {
    background: #279b41;
    color: #fff;
}
.green-button:focus,.gray-bot:focus {
    color: #fff;
}
.green-button:focus, .green-button:hover {
    color: #fff !important;
}
.right-section {
    background: url("../../img/inco-form-back1.jpg") no-repeat;
}
.bg.login{
    background: url("../../img/back3.jpg");
}

.bg.register{
    background: url("../../img/back2.jpg") ;
}


    /*---------------------------------------
        Typorgraphy
    -----------------------------------------*/


img {
    width: 100%;
}

p {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

a {
    text-decoration: none !important;
    outline: none;
}

a:visited,
a:focus {
    outline: none;
    text-decoration: none !important;
}
.blue-button {
    margin: 15px 0;
    display: inline-block;
    background: #150e47;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    border: none;
    transition: 300ms;
}
.blue-button:hover, .blue-button:focus {
    color:#fff;
    background: #1d1060;
}

/*---------------------------------------
    Navigation Links section
-----------------------------------------*/
.test {
    background-image: url('../../img/logo_dark.png');
    background-repeat: no-repeat;
    background-size: 180px 75px;
    border-left: 10px;

}

#intro {
    background: url('../../../assets/img/hero-section.jpg') 50% 0 repeat-y fixed;

}
#testimonial {
    background: url('../../../assets/img/counter-back.jpg') ;
}
#mobile-rice{
    background: url('../../../assets/img/rice.jpg') ;
}
.navbar-header{
    float: right;
}
.custom-navbar .navbar-brand {
    width: 135px;
    text-align: center;
    margin: 11px auto;
    display: inline-block;
    background-size: contain;
}
.navbar-brand {
    float: right;
}
.navbar > .container-fluid .navbar-brand {
    margin-right: -15px;
    margin-left: auto;
}
.logo-des {
    color: #373737;
    float: left;
    padding: 24px 5px 0;
}

.custom-navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);}

.header-wrapper {
    border-bottom: 0;

    background: #fff;
}


.navbar-brand {
    margin: 0 15px;
    height: 50px;
    padding: 3px 15px;
    font-size: 18px;
    line-height: 20px;

}

.logo-des {
    color: #373737;
    float: left;
    padding: 24px 5px 0;
}

.main-logo {
    width: 30%;
    margin: 0 auto;
}

.main-logo img {
    width: 100%;
}

.custom-navbar .nav li a {
    color: #000;
    font-weight: 400;
    padding: 10px 15px;
    text-transform: uppercase;
    line-height: 20px;
    transition: all 0.4s ease-in-out;
}

.top-nav-collapse .nav li a {
    color: black;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    transition: all 0.4s ease-in-out;
}

.top-nav-collapse .nav .ads {
    color: white;
    font-weight: 400;
}

.top-nav-collapse .nav {
    padding-top: 16px;
}
.nav.navbar-nav.navbar-left {

    padding-top: 16px;
    text-align: right;
}

.navbar-nav, .navbar-nav > li {
    float: right;
}
.custom-navbar .nav li a:hover {
    background: transparent;
    color: #4dc11d;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #4dc11d;
}


.custom-navbar .navbar-toggle {
    background-color: transparent;
}
.custom-navbar .navbar-toggle {
    border: none;
}
.custom-navbar .navbar-toggle .icon-bar {
    background: #4dc11d;
    border-color: transparent;
}

.ads {
    background-color: #46ae1b;
    border-radius: 50px;
    text-align: center;
    color: #fff !important;
    margin: 0 5px;
}

.ads:hover {
    background-color: #4dc11d !important;
    border-radius: 50px;
    text-align: center;
}

.parallax-section .owl-carousel .owl-stage-outer {
    padding: 0 0 15px;
    direction: ltr;

}
.parallax-section .owl-nav{
    text-align: center;
    font-size: 45px;
    position: absolute;
    top: 42%;
    width: 100%;
    left: 0;
}

.parallax-section .owl-prev span:hover{
    transition: 300ms;
    box-shadow: 0 0 25px #a5a5a5;
}
.parallax-section .owl-prev span{
    color: #333;
    display: inline-block;
    top: -7px;
    position: relative;
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 5px #a5a5a5;
    overflow: hidden;
    border-radius: 50px;
    padding-top: 7px;
    font-size: 34px;
}
.parallax-section .owl-next span:hover{
    transition: 300ms;
    box-shadow: 0 0 25px #a5a5a5;
}
.parallax-section .owl-next span{
    color: #333;
    display: inline-block;
    top: -7px;
    position: relative;
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 5px #a5a5a5;
    overflow: hidden;
    border-radius: 50px;
    padding-top: 7px;
    font-size: 34px;
}


.profile-menu-header i {
    position: absolute;
    left: -75px;
    top: 5px;
    font-size: 20px;
}
.profile-menu-header a {
    color: #7f8c9b;
    margin: 5px 0;
    position: relative;
    padding: 3px 15px !important;
}
.profile-menu-header {
    padding: 6px 12px 0;
    float: left;
}
.profile-menu-header > a {
    border-right: 1px solid #4dc11d;
}
.image-header-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    position: relative;
    top: -13px;
}
.user-header-mobile a {
    float: left;
    width: 100%;
}

@media (max-width: 1300px) {
    .logo-des {
        display: none;
    }

}

@media (max-width: 992px) {
    .content_service {

        font-size: 15px;

    }

    .content_service {
        font-size: 14px;
    }

}

@media (max-width: 1100px) {
    .navbar-brand {
        padding: 0;
        width: 150px;
        background-size: 100%;
    }
    .custom-navbar .nav li a {
        padding: 9px 5px;
    }
}

@media (max-width: 850px) {
    .name-header-profile{
        display: none;
    }
}


@media screen and ( max-width: 767px) {
    .parallax-section .owl-nav{
        display: none;
    }
    .image-header-profile {
        top: -3px;
    }
    .profile-menu-header > a {
        border-right: none;
    }
    .profile-menu-header {
        padding: 3px;
        padding-left: 55px;
        float: left;
    }
    .navbar > .container-fluid .navbar-brand {
        margin-right: auto;
        margin-left: auto;
    }
    .navbar-header {
        float: none;
        min-height: 80px;
    }
    .test {
        background-image: url('../../img/logo_dark.png');
        background-repeat: no-repeat;
        background-size: 200px 75px;
        background-position: center;
        margin-right: 15%;
        margin-right: 18%;
    }
    .profile-menu-header i {
        position: absolute;
        color: #333;
        left: -75px;

        top: 29px;

        font-size: 20px;
    }

    .main-content-item {
        margin: 63px auto 24px;

    }

    .content_service {
        font-size: 14px;
    }

    .custom-navbar.top-nav-collapse {
        background: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.04);
    }
    .custom-navbar .navbar-brand {
        line-height: 18px;
    }
    .content_service {
        text-align: center;
        display: inline-block;
    }
    .navbar-nav, .navbar-nav > li {
        float: right;
    }
    .custom-navbar .navbar-brand {
        display: block;
        margin: 10px auto;
        float: none;
    }
    .custom-navbar .navbar-toggle {
        float: right;
        text-align: center;
        padding-top: 31px;
        padding-right: 30px;
        margin: 0;
    }
    .ads {
        background-color: #46ae1b;
        border-radius: 50px;
        text-align: center;
        color: #fff !important;
        margin: 0 5px;
    }

    .float_li {

        float: right;
        padding: 0 7px;
        width: 50%;

    }

    .custom-navbar {
        padding:0;
        border-bottom: 0;
        background: #fff;
    }

    .custom-navbar.top-nav-collapse {
        background: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.04);
        padding: 0;
    }
    .custom-navbar .nav li  {
        float: none;
    }
    .custom-navbar .nav li a {
        padding: 11px 30px;
    }
    .custom-navbar .navbar-nav li a {
        line-height: 25px;
    }
    .user-header-mobile {
        display: block;
        float: left;
        margin-left: 50px;
    }
    .user-header-mobile .profile-menu-header {
        padding: 14px 0 0;
        float: left;
    }
    .user-header-mobile .profile-menu-header i {
        top: 14px;
        left: -10px;
    }
}

@media screen and (max-width: 534px) {
    .custom-navbar .navbar-brand {
        line-height: 18px;
    }
}
@media screen and (max-width: 432px) {
    .custom-navbar .navbar-brand {
        width: 55%;
        background-size: 50%;
        background-position: 50% 50%;
    }
    .profile-menu-header {

        padding: 3px;
        padding-left: 35px;
        float: left;

    }
    .user-header-mobile {
        display: block;
        float: left;
        margin-left: 30px;
    }

}

.loading_images img {
    display: block;
    margin: 0 auto;
}

/*loader*/

.finish-loader-show {
    position: fixed;
    z-index: 1041;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    display: block;
}


.finish-loader-show .main-loader {
    position: absolute;

    top: 35%;

    text-align: center;

    display: block;

    width: 100%;

    color: #fff;

    font-size: 23px;
}

.finish-loader-show .main-loader img {
    width: 170px;
    background: #fff;
    border-radius: 50px;
    height: 170px;
    display: inline-block;
    margin: 0 auto;
}













/*loader*/

.loader-display {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: block;
}

.main-loader {
    position: absolute;

    top: 35%;

    text-align: center;

    display: block;

    width: 100%;

    color: #fff;

    font-size: 23px;
}

.main-loader img {
    width: 100px;

    background: #fff;

    border-radius: 50px;

    height: 100px;

    display: inline-block;

    margin: 0 auto 22px;
}

.loader-wrapper {
    display: none;
}

span.min {
    display: none;
}

@media screen and (max-width: 338px) {
    .custom-navbar .navbar-brand {
        width: 55%;
    }
}
