
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1.1;
    font-family: IRANSans, sans-serif;
    font-size: 14px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, svg {
    width: 100%;
}

a, a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
    transition: 300ms;
}

th, td {
    padding: 7px;
    text-align: right;
}

/*start style right header*/
.logo {
    height: 64px;

    display: block;

    float: right;

    width: 70%;
}

.logo_hide {
    display: none;
}

.logo a {
    display: inline-block;
    margin-top: -11px;
    height: 75px;
    padding: 0 10px;
}

.right-header {
    width: 250px;
    right: 0;
    bottom: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 9;
}

.right-header.mobile-header {
    display: none;
    box-shadow: 0 0 20px;
}

.right-header > header {
    overflow: hidden;
    background: #fff;
}

.clouse_menu, .clouse_menu_mob {
    float: left;
    width: 30%;
    border: none;
    background: none;
    font-size: 35px;
    top: 0;
    position: relative;
    padding: 11px;
}

.clouse_menu_mob {
    display: none;
}

.main-right-header {
    background: #313a43;
    height: 100%;
    text-align: right;
    color: #fff;
    position: relative;

}

.show-header button {
    float: right;
    border: none;
    background: none;
    font-size: 25px;
    padding: 19px 30px 19px 24px;
    display: none;
}

.profile {
    padding: 20px 20px 10px;
    border-bottom: 2px solid #2e353e;
}

.profile-img {
    overflow: hidden;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    margin: 0 auto;
    margin-left: 10px;
    border: 2px solid #fff;
    float: right;
}

.profile-img img {
    height: 100%;
}

.profile-content {
    float: right;
    padding-top: 15px;
}

.profile-name {
    margin: 8px 0;
    font-size: 17px;
}

.profile-city {
    font-size: 14px;
    font-weight: 200;
}

.profile-city {
    font-size: 14px;
    font-weight: 200;
}

.header-menu a {
    color: #b1b1b1;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    width: 100%;
}

.header-menu {
    padding: 10px 0;
}

.header-menu a:hover {
    color: #fff;
    background: #637484;
}

.header-menu a:hover::before {
    content: " ";
    height: 100%;
    width: 2px;
    background: #00d614;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}
.header-menu li.active a {
    color: #fff;
    background: #637484;
}
.header-menu li.active a:before {
    content: " ";
    height: 100%;
    width: 2px;
    background: #00d614;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}
.copy-right {
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.3em;
    padding: 20px;
    position: absolute;
    bottom: 76px;
}
label {
    display: block;
    margin: 9px auto;
}

input[type="text"], select, input[type="button"], textarea {
    width: 100% !important;
}

input[type="text"], select, textarea {
    background: #eff3f6;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    width: 100% !important;
}

input[type="text"], textarea {
    padding: 13px 15px;
    width: 100% !important;
}

select {
    padding: 7px 15px;
}

/*end style right header*/
