
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1.1;
    font-family: IRANSans, sans-serif;
    font-size: 14px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, svg {
    width: 100%;
}

a, a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
    transition: 300ms;
}

th, td {
    padding: 7px;
    text-align: right;
}

/*start style right header*/
.logo {
    height: 64px;

    display: block;

    float: right;

    width: 70%;
}

.logo_hide {
    display: none;
}

.logo a {
    display: inline-block;
    margin-top: -11px;
    height: 75px;
    padding: 0 10px;
}

.right-header {
    width: 250px;
    right: 0;
    bottom: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 9;
}

.right-header.mobile-header {
    display: none;
    box-shadow: 0 0 20px;
}

.right-header > header {
    overflow: hidden;
    background: #fff;
}

.clouse_menu, .clouse_menu_mob {
    float: left;
    width: 30%;
    border: none;
    background: none;
    font-size: 35px;
    top: 0;
    position: relative;
    padding: 11px;
}

.clouse_menu_mob {
    display: none;
}

.main-right-header {
    background: #313a43;
    height: 100%;
    text-align: right;
    color: #fff;
    position: relative;

}

.show-header button {
    float: right;
    border: none;
    background: none;
    font-size: 25px;
    padding: 19px 30px 19px 24px;
    display: none;
}

.profile {
    padding: 20px 20px 10px;
    border-bottom: 2px solid #2e353e;
}

.profile-img {
    overflow: hidden;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    margin: 0 auto;
    margin-left: 10px;
    border: 2px solid #fff;
    float: right;
}

.profile-img img {
    height: 100%;
}

.profile-content {
    float: right;
    padding-top: 15px;
}

.profile-name {
    margin: 8px 0;
    font-size: 17px;
}

.profile-city {
    font-size: 14px;
    font-weight: 200;
}

.profile-city {
    font-size: 14px;
    font-weight: 200;
}

.header-menu a {
    color: #b1b1b1;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    width: 100%;
}

.header-menu {
    padding: 10px 0;
}

.header-menu a:hover {
    color: #fff;
    background: #637484;
}

.header-menu a:hover::before {
    content: " ";
    height: 100%;
    width: 2px;
    background: #00d614;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}
.header-menu li.active a {
    color: #fff;
    background: #637484;
}
.header-menu li.active a:before {
    content: " ";
    height: 100%;
    width: 2px;
    background: #00d614;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}
.copy-right {
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.3em;
    padding: 20px;
    position: absolute;
    bottom: 76px;
}
label {
    display: block;
    margin: 9px auto;
}

input[type="text"], select, input[type="button"], textarea {
    width: 100% !important;
}

input[type="text"], select, textarea {
    background: #eff3f6;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    width: 100% !important;
}

input[type="text"], textarea {
    padding: 13px 15px;
    width: 100% !important;
}

select {
    padding: 7px 15px;
}
.image-header-profile img {
    height: 100%;
}
.right-menu-header
{
    position: relative;
}
.right-menu-header li ul a
{
    font-size: 14px ;
    width: 100%;
    display: inline-block;
}
.right-menu-header li ul li {

    margin: 5px;

}
.icon-header-list{
    position: absolute;
    width: 165px;
    background: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px #313a43;
    text-align: right;
    right: 75px;
    top: 65px;
    display: none;
    z-index: 999;

}
/*end style right header*/


/*start style main header*/
#main {
    margin-right: 250px;
    margin-top: 65px;
    background: #eff3f6;
}

#main.little-main {
    margin-right: 80px;
}

.main-header {
    height: 65px;
    position: fixed;
    left: 0;
    right: 250px;
    top: 0;
    background: #fff;
    z-index: 5;
    border-bottom: 2px solid #e6e6e6;
}

.image-header-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}
.image-header-profile  img{
    height: 100%;
}
.profile-menu-header {
    float: left;
}

.right-menu-header {

    padding: 16px;
}

.right-menu-header, .content-header {
    float: right;

}

.profile-menu-header {
    padding: 7px;
    padding-left: 55px;
}

.profile-menu-header a {
    position: relative;
}

.profile-menu-header i {
    position: absolute;

    left: -75px;

    top: 18px;

    font-size: 20px;
}

.content-header {
    background: #28a745;
    color: #fff;
    height: 100%;
    padding: 20px 20px 0;
}

.right-menu-header a, .profile-menu-header a {
    color: #7f8c9b;
    margin: 5px;
}

.right-menu-header a {
    font-size: 30px;
}

.right-menu-header a:hover, .profile-menu-header a:hover {
    color: #2e353e;
}

.name-header-profile {
    position: relative;
    top: 18px;
    left: 10px;
}

.profile-list {
    position: absolute;
    width: 165px;
    background: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px #313a43;
    text-align: right;
    left: 40px;
    top: 65px;
    display: none;
    z-index: 999;
}

.profile-list li {
    margin: 5px;
}

.profile-list a {
    width: 100%;
    display: inline-block;
}

/*end style main header*/

/*start style sub-header*/
.sub-header {
    position: absolute;
    left: 0;
    background: #eff3f6;
    top: 63px;
    right: 0;
    text-align: center;
}

.sub-header ul {
    text-align: center;
}

.sub-header a {
    padding: 16px;

    display: inline-block;

    color: #808c9b;

    font-weight: bold;

    font-size: 14px;

    position: relative;
}

.sub-header a:hover {
    color: #313942;
}

.sub-header a:hover::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}
.sub-header a.active {
    color: #313942;
}
.sub-header a.active::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}
/*end style sub-header*/


/*louder*/

.loader-display{
    position: fixed;
    z-index: 10;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: block;
}
.main-loader{
    position: absolute;

    top: 35%;

    text-align: center;

    display: block;

    width: 100%;

    color: #fff;

    font-size: 23px;
}
.main-loader img{
    width: 100px;

    background: #fff;

    border-radius: 50px;

    height: 100px;

    display: inline-block;

    margin: 0 auto 22px;
}

.loader-wrapper{
    display:none;
}

@media screen and (max-width: 500px){

    .main-loader{
        position: absolute;
        font-size: 15px;
    }
    .main-loader img{
        width: 70px;
        height: 70px;
    }
}