
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1.1;
    font-family: IRANSans, sans-serif;
    font-size: 14px;
    direction: rtl;
}

ol, ul {
    list-style: none;
}
select{
    width: 100%;

    padding: 0 10px;

    border-radius: 3px;

    border: 1px solid;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    width: 100%;
}

a, a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
    transition: 300ms;
}

th, td {
    padding: 7px;
    text-align: right;
}

h1, h2, h3 {
    color: #565657;
}
textarea{
    width: 100%;
    max-height: 110px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px;
    text-align: right;
    height: 120px;
    border-radius: 3px;
    border: 1px solid;
    line-height: 21px;
    background: #fafafa;
    margin: 10px auto;
}
label{
    font-size: 12px;
    padding: 5px 0;
    display: block;
}
input[type="text"],input[type="password"],input[type="email"]{
    -webkit-appearance: none;
    border: 1px solid #818d9b;
    border-radius: 5px;
    width: 100%;
    padding: 8px 15px;
}

.bg{
    background: url("../../img/back2.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    overflow: hidden;
}
#main{
    top: 50%;
    right: 50%;
    z-index: 1;
    position: absolute;
    transform: translate(50%, -50%);
}
.green_but{
    width: 100%;
    background: #28a745;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
    margin: 5px auto;
}
.danger_border_but{
    width: 100%;
    border-radius: 3px;
    padding: 12px;
    background: #030947;
    color: #fff;
    margin: 5px auto;
}
.sub-des{
    color: #909aa6;
    font-size: 9px;
    margin: 8px 0 50px;
    line-height: 1.618;
    display: inline-block;
}
.bouttons{
    margin: 60px auto;
}
.input_contents{
    position: relative;
}
input.pad{
    padding: 12px 47px 8px 15px;
}
#step3 input.pad{
    padding: 8px 35px 8px 15px;
}

.after_icon:after{
    position: absolute;
    content: " ";
    top: 21%;
    right: 22px;
    font-family: "fontawesome",sans-serif;
    font-size: 18px;
    color: #818d9b;
    border-left: 1px solid;
    padding-left: 5px;
}
.after_icon.numbers:after{
    content: "\f098";
}
.after_icon.search-icon:after{
    content: "\f002";
}
.left-section {
    background: #fff;
    padding: 0;
    height: 100%;
    position: relative;

}
.right-section {
    background: url("../../img/inco-form-back1.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    color: #f7f7f7;
    text-align: center;
    line-height: 1.618;
    padding-top: 10px;
}
.right-section h1{
    color: #f7f7f7;
    margin: 15px auto;
    padding: 15px;
}
.right-section ul{
    list-style: inherit;
    padding: 38px 25px 0 0;
    text-align: right;
}
.right-section ul li{
    padding: 10px 0;
}

.main-form {
    min-width: 250px;
    margin: 0 auto;
    height: 550px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 44px rgba(0,0,0,0.6);
}
.left-section h1 {
    font-size: 24px;
    text-align: center;
    margin: 20px auto;
}
ul.header_list {
    text-align: center;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    background: #ededed;
    font-size: 13px;
    color: #818d9b;
}
ul.header_list li {
    padding: 10px 12px;
}
ul.header_list li.active {
    color: #313a43;
    border-bottom:2px solid #28a745;
}
.content_section{
    padding: 5px 40px;
}

#step1 .content_section ,#step2 .content_section {
    padding: 5px 66px;
    overflow: hidden;
    padding-top: 40px;
}
.rules{
    padding: 0;
    margin: 5px auto;
}
.roules-check-inside {
    color: #28a745;
}
.rules input {
    cursor: pointer;
    width: 23px;
    height: 23px;
    float: right;
    position: absolute;
    top: -5px;
    right: 150px;
    opacity: 0;
    z-index: 1;
}
.rules i {
    background: none;
    width: 23px;
    height: 23px;
    display: block;
    position: absolute;
    top: -5px;
    right: 150px;
    color: #808c9c;
    border-radius: 50%;
    padding: 3px 2px;
    font-size: 14px;
}
.rules input:checked + i {
    background: #28a745;
    color: #fff;
    padding: 4px;
}
.back_step:hover {
  cursor: pointer;
}
.dots-step{
    position: absolute;
    left: calc(40% + 5px);
    bottom: 8px;
}

.dots-step span {
    width: 12px;
    height: 12px;
    border: 2px solid #818d9b;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    position: relative;

}
.dots-step span.active{
    background: #28a745;

}

.dots-step span:after{
    position: absolute;
    content: " ";
    top: 3px;
    background: #a0a9b3;
    right: 10px;
    color: #818d9b;
    width: 15px;
    height: 3px;
}

.dots-step span:last-of-type:after{
    display: none;
}

.radio-wrapper input:checked + i, .radio-wrapper input:checked + i {
    background: #28a745;
    color: #fff;
    padding: 4px;
}
.radio-wrapper input {
    cursor: pointer;
    width: 23px;
    height: 23px;
    float: right;
    position: absolute;
    top: -5px;
    right: 65px;
    opacity: 0;
    z-index: 1;
}
.radio-wrapper i, .radio-wrapper i {
    background: none;
    width: 23px;
    height: 23px;
    display: block;
    position: absolute;
    top: -5px;
    right: 65px;
    color: #808c9c;
    border-radius: 50%;
    padding: 3px 2px;
    font-size: 14px;
}



.dropdown {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

a {
    color: #fff;
}

.dropdown dd,
.dropdown dt {
    margin: 0px;
    padding: 0px;
}

.dropdown ul {
    margin: -1px 0 0 0;
}

.dropdown dd {
    position: relative;
}

.dropdown a,
.dropdown a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.dropdown dt a {
    background-color: #4F6877;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
}

.dropdown dt a span,
.multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.dropdown dd ul {
    background-color: #4F6877;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.dropdown dd ul li a:hover {
    background-color: #fff;
}

button {
    background-color: #6BBE92;
    width: 302px;
    border: 0;
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.input-forms > div{
    margin: 7px auto;
    float: right;
    height: 50px;
}
.input-forms .radio_btn{
    height: 24px;
}
.error_msg{
    color: #ff0000;
    font-size: 12px;
    display: block;
    text-align: center;
    padding: 5px;
}
#step4 .header_list,#step3 .header_list{
    margin-bottom: 5px;
}

.ui-corner-all {
    margin: 7px 0;

    padding-bottom: 10px;

}
.ui-corner-all input{
    cursor: pointer;
    width: 23px;
    height: 23px;
    position: absolute !important;
    top: 2px;
    opacity: 0;
    left: 15px;
}

.ui-corner-all  input[type="checkbox"]:checked + .fa {
    color: #28a745;
    background: red;
    width: 100px;
    height: 100px;
}

.ui-corner-all i {
    background: none;
    width: 23px;
    height: 23px;
    display: block;
    position: absolute;
    top: 4px;
    left: 15px;
    color: #808c9c;
    border: 2px solid;
    border-radius: 50%;
    padding: 3px 2px;
    font-size: 14px;
}
.radio-wrapper{
    margin-bottom: 12px;
}
@media screen and (max-width: 992px) {
   .right-section{
       display: none;
   }
    .left-section{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .main-form {
        width: inherit;
        min-width: inherit;
        margin: 0 auto;
        height: inherit;
        overflow: scroll;
    }

   .right-section{
       display: none;
   }
    .left-section{
        width: 100%;
        padding-bottom: 30px;
    }
    #step1 .after_icon::after {
        top: 51%;
    }
    .content_section{
        padding: 15px;
    }
    #step1 .content_section , #step2 .content_section {
        padding: 60px 15px 15px;
    }
    main {
        height: inherit;
    }
    .input-forms > div {
        float: none;
        height: inherit;
    }
    .input-forms  .radio_btn {
        float: right;
    }
    main {
        width: 80%;
    }
}
@media screen and (max-width: 650px) {
     .dots-step{
       display: none;
     }
    .content_section {
        padding: 0;
    }
    main {
        width: 95%;
    }
    #main {
        top: 20px;
        right: 15px;
        z-index: 1;
        position: absolute;
        left: 15px;
        transform: inherit;
    }

}
