
h1,
h2,
h3,
h4,
p,
div,
span {
  line-height: 1.618;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 26px;

  font-weight: 500;
}

h2 {
  font-size: 17px;

  font-weight: normal;
}

i {
  position: relative;
  top: 1px;
  padding: 0 2px;
}

#main-content {
  margin-bottom: -60px;
}

.hidden {
  display: none !important;
}

#intro::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(25, 102, 142, 0.4);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 0;
}

#intro > div {
  position: relative;
  z-index: 1;
}

.box-content {
  overflow: hidden;
  background: #fff;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.title-box {
  text-align: center;
}

.title-box h3 {
  font-size: 16px;
  font-weight: 500;
  color: #4b4b4b;
  margin-bottom: 12px;
}

.title-box a {
  margin: 20px auto 10px;
  width: inherit;
  font-size: 17px;
  border-radius: 8px;
  padding: 7px 22px 6px;
  direction: rtl;
  font-weight: normal;
}

.title-box a i {
  top: 3px;
}

.title-box p {
  margin-top: 20px;
  font-size: 15px;
  text-align: right;
  line-height: 28px;
}

.section-wrapper {
  margin-top: 30px;
}

.section-wrapper .title-box {
  text-align: right;

  margin-top: 35px;
}

/*intro section style */

#intro {

  background: url("../../img/hero-section.jpg");
    background-size: cover;
    background-position: center right;

  margin-top: 74px;

  text-align: center;

  padding: 25px 15px;

  direction: rtl;

  position: relative;
  background-color: #404b55;
}

#intro h1 {
  margin-top: 18px;
  font-size: 30px;
  margin-bottom: 16px;
}

#intro h1,
#intro h2 {
  color: #fff;
}

#intro h2 {
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 700;
}

#intro .custom-mega-menu ul {
  position: absolute;
  margin: 0;
  list-style: none;
  z-index: 2;
}

#intro button.open-categories {
  background: #eee;
  color: #313a43;
  font-weight: 400;
  padding: 11px 15px;
  font-size: 16px;
  border: none;
  border-radius: 0 12px 12px 0;
  position: relative;
  line-height: 27px;
  max-width: 143px;
  direction: rtl;
}

#intro button.open-categories i {
  position: relative;
  top: 1px;
  padding: 0 2px;
}

.search-wrapper {
  position: relative;

  max-width: 593px;

  margin: 0 auto;
}

.hero-search-input {
  display: block;
  min-width: 455px;
  position: relative;
  border-radius: 8px;
  margin: 35px auto 0;
  max-width: 670px;
}

.hero-search-input input {
  padding: 11px 162px 11px 15px;
  border-radius: 12px;
  margin: 0;
  float: right;
  border: none;
  font-size: 16px;
  line-height: 27px;
}

.hero-search-input > button {
  transition: .3s;
  border: none;
  margin: 0;
  padding: 12px 20px 5px;
  color: #868686;
  background: none;
  border-radius: 8px 0 0 8px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}

.hero-search-input button:hover {
  transition: 300ms;
  padding-left: 18px;
  padding-right: 18px;
}

.hero-search-input button:before {
  position: relative;

  top: 2px;
}

#intro a.green-button {
  font-size: 20px;
  margin: 0 auto;
  width: auto;
  padding: 13px 33px;
  font-weight: 400;
  line-height: 1;
  border-radius: 12px;
  margin-top: 62px;
  margin-bottom: 30px;
  display: inline-block;
  color: #fff;
  background: #00c569;
}

#intro a.green-button i {
  font-size: 21px;
  top: 3px;
}

/*sub navigation styles*/

.requests-carousel {
  z-index: 0;
}

.secondary-nav-wrapper {
  background: #fff;

  color: #4b4b4b;

  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);

  direction: rtl;

  text-align: center;
}

.category-item {
  font-size: 16px;

  color: #777;

  padding: 7px 50px 13px;

  display: inline-block;

  line-height: 1.618;

  position: relative;

  font-weight: bold;
}

.category-item i:before {
  position: relative;

  right: 5px;

  top: 2px;
}

.sub-category-item:hover {
  background: #00c569;
  border-color: #00c569;
  color: #fff;
}

.sub-category-item {
  font-size: 15px;
  color: #5f6368;
  display: inline-block;
  line-height: 1.618;
  position: relative;
  padding: 5px 0px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  margin-top: 20px;
  border: 1px solid #ddd;
  transition: 150ms;
}

.green-button {
  display: inline-block;
  background: #00c569;
  color: #fff;
}

.product-link.green-button {
  width: initial;

  margin: 0;

  font-size: 14px;

  font-weight: bold;
}

.product-link.green-button i {
  position: relative;
  top: 3px;
  right: 5px;
}

nav {
  position: relative;
}

nav li.active > h2 a:before {
  content: " ";

  background: #00c569;

  width: 100%;

  display: block;

  position: absolute;

  left: 0;

  bottom: 0;

  height: 3px;
}

nav li.active > h2 a:after {
  content: " ";

  display: inline-block;

  width: 0;

  height: 0;

  border-style: solid;

  border-width: 8px 8px 0 8px;

  border-color: #00c569 transparent transparent transparent;

  position: absolute;

  bottom: -8px;

  left: calc(50% - 8px);

  z-index: 1001;
}

nav li > ul {
  position: absolute;

  pointer-events: none;

  left: 0;

  opacity: 0;

  transition: 500ms;

  border: 1px solid #f1f1f1;
}

nav > ul > li {
  opacity: 1;

  padding: 0;

  direction: ltr;

  transition: 500ms;
}

li.active > ul {
  opacity: 1;

  pointer-events: initial;

  background: #fff;

  border-radius: 0 0 4px 4px;

  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.07);

  padding: 20px 15px;

  z-index: 1000;
}


nav > ul > li li ul {
  transform: translateX(100%);
  top: 0;
  right: 0;
}

nav > ul > li > ul > li {
  transition: transform 0.4s, opacity 0.4s;
  transform: translateY(150%);
  opacity: 0;
}

nav > ul > li.active > ul > li {
  transform: translateY(0%);
  opacity: 1;
}

li > ul > li > ul > li {
  transition: transform 0.4s, opacity 0.4s;
  transform: translateX(195px) translateY(0%);
  opacity: 0;
}

li > ul > li.active > ul > li {
  transform: translateX(0) translateY(0%);
  opacity: 1;
}

/*requests section style*/

.carousel-item {
  padding: 0;
}

.requests-contents {
  padding: 0 15px;
}

.requests-contents p {
  font-size: 13px;
}

.requests-contents .buttons-action {
  text-align: center;
}

.wrapper_no_pro {
  text-align: center;
  font-size: 23px;
  padding: 15px 0;
}

.content_no_pic {
  font-size: 70px;
  margin: 20px auto;
  color: #bdbdbd;
}

.text_no_pic {
  margin: 30px auto;
  color: #bdbdbd;
}

.list-time {
  direction: rtl;
}

.list-title,
.needs,
.list-time {
  float: right;
  text-align: center;
  line-height: 1.618;
  font-weight: bold;
  padding: 0;
  padding-top: 5px;
  width: 100%;
}

.list-group-item {
  border: 1px solid #ddd;

  padding: 7px 0;
}

.list-group-item a {
  margin: 0;

  width: initial;

  padding: 6px 15px 9px;

  direction: rtl;

  font-size: 14px;

  font-weight: bold;
}

.main-content > ul {
  border-radius: 3px;
  box-shadow: 0 0 10px #e1e1e1;
  overflow: hidden;
}

.main-content .list-group-item p {
  text-align: center;
  direction: rtl;
}

#main.little-main {
  margin-right: 80px;
}

.message-list {
  padding: 19px;
  text-align: center;
  background: #eff3f6;
  line-height: 1.618;
}

.title {
  text-align: right;
  padding: 13px 15px;
}

.title h1 {
  font-size: 18px;
  font-weight: bold;
}

.list-placeholder-wrapper {
  border: 1px solid rgb(221, 221, 221);

  position: relative;

  overflow: hidden;

  border-radius: 0 0 3px 3px;

  margin-bottom: 20px;

  border-top: none;

  background: #f6f6f6;
}

.list-placeholder-wrapper ul {
  margin: 0;

  overflow: hidden;

  border: none;
}

.list-placeholder-wrapper li {
  background: none;

  -webkit-filter: blur(8px);

  filter: blur(8px);
}

.list-placeholder::after {
  position: absolute;

  width: 100%;

  height: 100%;

  content: "";

  left: 0;

  top: 0;
}

.list-placeholder-wrapper .link {
  position: absolute;

  width: 100%;

  text-align: center;

  top: calc(50% - 82px);

  padding: 15px;
}

.list-placeholder-wrapper .link-wrapper-content {
  max-width: 500px;

  background: white;

  padding: 15px;

  border-radius: 4px;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  margin: 0 auto;
}

.list-placeholder-wrapper .link p {
  font-size: 19px;

  font-weight: bold;

  color: #4b4b4b;

  margin-bottom: 4px;

  line-height: 1.618;
}

.list-placeholder-wrapper .link a {
  font-size: 14px;

  font-weight: bold;

  margin-top: 4px;
}

/*product section style*/

.carousel-item {
  padding: 0;
  text-align: center;
}

.products-contents {
  padding: 0;
}

/*services section*/

#services-section {
  text-align: center;
}

#services-section h3 {
  margin-top: 24px;
  font-size: 21px;
  font-weight: 500;
  color: #404b55;
  margin-bottom: 26px;
}

.box-image {
  height: 85px;
}

.box-image img {
  width: initial;

  height: 100%;
}

.service-box {
  padding: 0;
  position: relative;
  top: 0;
  -webkit-transition: 200ms;
  transition: 200ms;
  border-radius: 12px;
  border: 1px solid #f0f0f1;
  margin-bottom: 30px;
}

.service-box:hover {
  top: -5px;
  transition: 200ms;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.service-box a {
  padding: 15px;
  display: block;
  color: #4b4b4b;
}

.service-box a h4 {
  font-size: 17px;

  font-weight: bold;
}

.service-box p {
  margin-top: 5px;
}

/*links section styles */

#benefit-links {
  background: #fff;

  text-align: right;
}

.links-title {
  color: #777;

  font-size: 16px;

  font-weight: bold;

  margin-top: 24px;
}

.benefit-links-item {
  line-height: 1.4;
  margin-top: 6px;
  direction: rtl;
  margin-bottom: 50px;
}

.benefit-links-item h4 {
  line-height: 1.4;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.benefit-links-item a {
  font-size: 10px;
  color: #bdc4cc;
  transition: 200ms;
}

.benefit-links-item a:hover {
  color: #00c569;
  transition: 200ms;
}

/*mobile responsive styles*/

.mobile-requests-contents {
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  padding: 5px 0 20px;
}

.mobile-requests-buttons {
  font-size: 14px;
  width: initial;
  font-weight: bold;
  margin: 25px 0 0;
}

.main-incobac-logo img {
  width: 200px;
}

.web-category-wrapper {
  background: #fff;
  position: absolute;
  right: 15px;
  left: 15px;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
  padding: 8px 0 0;
}

.web-category-wrapper > .section-title {
  margin: 0 14px;
}

.web-category-wrapper > ul {
  margin-top: 10px;
  height: 267px;
  transition: 300ms;
  overflow: hidden;
}

.section-title {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  color: #313a43;
  position: relative;
  padding-bottom: 9px;
}

.section-title::after {
  content: " ";
  background-color: #00c569;
  width: 100px;
  height: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* .web-category-wrapper > ul > li {
  position: relative;
} */

.web-category-wrapper > ul > li:hover .sub-categories-wrapper {
  display: block;
}

.web-category-wrapper > ul > li button {
  width: 100%;
  background: none;
  border: none;
  padding: 8px 20px 9px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.web-category-wrapper > ul > li span,
.web-category-wrapper > ul > li i {
  position: relative;
  z-index: 1;
  font-size: 16px;
  color: #5f6368;
}

.web-category-wrapper > ul > li span {
  font-weight: 500;
}

.web-category-wrapper > ul > li:hover button::after {
  width: 100%;
  transition: 150ms;
}

.web-category-wrapper > ul > li button::after {
  content: " ";
  transition: 150ms;
  background-color: #00c569;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  width: 0%;
  z-index: 0;
  background: #fbfbfb;
}

.web-category-wrapper .sub-categories-wrapper {
  position: absolute;
  right: 100%;
  background: #fbfbfb;
  /* top: 0; */
  width: 600px;
  border-radius: 12px 0 12px 12px;
  overflow: hidden;
  display: none;
  min-height: 90px;
  padding: 15px 20px 30px;
  box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.16);
}

.web-banner-wrapper {
  margin-top: 70px;
}

.load-more-categories {
  width: 100%;
  background: #f2f2f2;
  border: none;
  border-radius: 0 0 12px 12px;
  font-size: 17px;
  font-weight: 500;
  color: #556080;
  padding: 8px 0px;
  margin-top: 0;
}

.rotate-icon {
  transform: rotate(180deg);
}

.web-banner-wrapper .banner-item {
  height: 160px;
  background-size: cover;
  border-radius: 12px;
  background-color: #404b55;
  background-position: 50% 0;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  margin-top: 20px;
  border: none;
  width: 100%;
  z-index: 0;
  display: block;
}
.web-banner-wrapper .banner-contents {
  position: relative;
  z-index: 1;
  height: 100%;
  text-align: right;
  color: #fff;
  direction: rtl;
}

.web-banner-wrapper .banner-contents p {
  font-size: 40px;
  padding: 0 20px;
}

.web-banner-wrapper .banner-contents > div {
  position: absolute;
  left: 20px;
  bottom: 15px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  font-size: 18px;
  padding: 5px 17px;
}

.web-banner-wrapper .banner-item::after {
  content: " ";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.web-banner-wrapper .banner-more-categories {
  height: 160px;
  background-color: #f0f7e7;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  margin-top: 20px;
  border: none;
  width: 100%;
}
.web-banner-wrapper .banner-more-categories .banner-contents {
  text-align: center;
  color: #404b55;
}
.web-banner-wrapper .banner-more-categories .banner-contents p {
  font-size: 32px;
  padding: 9px 0 0;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50px;
  margin: 18px auto 0;
}

.web-banner-wrapper .banner-more-categories .banner-contents div {
  position: relative;
  bottom: initial;
  left: initial;
  background: #fff;
  display: inline-block;
  margin-top: 16px;
}

.web-banner-wrapper .banner-more-categories .banner-contents div i {
  color: #1da1f2;
}

/* mobile categories styles 
******************************************/
.banner-item-1{
  background-image: url("../../img/banners/banner-7.jpg");
}
.banner-item-2{
  background-image: url("../../img/banners/banner-1.jpg");
}
.banner-item-3{
  background-image: url("../../img/banners/banner-5.jpg");
}
.banner-item-4{
  background-image: url("../../img/banners/banner-2.jpg");
}
.banner-item-5{
  background-image: url("../../img/banners/banner-3.jpg");
}
.banner-item-6{
  background-image: url("../../img/banners/banner-4.jpg");
}
.banner-item-7{
  background-image: url("../../img/banners/banner-6.jpg");
}





.mobile-banner {
  padding: 20px 15px;
}

.mobile-banner .banner-item-wrapper {
  background: #f2f2f2;
  border-radius: 12px;
  padding: 20px 0;
  overflow: hidden;
}

.mobile-banner .banner-item-wrapper > div {
  padding: 0 7px;
  text-align: center;
}

.mobile-banner .banner-item {
  text-align: center;
  display: block;
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  margin-bottom: 20px;
}

.mobile-banner .banner-item-wrapper .banner-item .item-image {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  background-size: cover;
  margin: 0 auto;
  background-position: center;
}

.mobile-banner .banner-item-wrapper .banner-item.all-banners .item-image {
  background-color: #fff;
  padding-top: 7px;
  font-size: 22px;
}

.mobile-banner .banner-item-wrapper .banner-item p {
  font-size: 16px;
  font-weight: 500;
  color: #313a43;
  margin-top: 5px;
}

/* categories modal styles 
******************************************/

.modal-dialog {
  width: 400px;
}
.modal-content {
  overflow: hidden;
  border-radius: 12px;
}
.close-modal {
  font-size: 20px;

  color: #777;

  position: absolute;

  right: 0;

  padding: 8px 15px 2px;

  top: 0;
}

.modal-title {
  font-size: 16px;

  font-weight: 800;

  color: #474747;

  text-align: center;
}

.modal-header {
  padding: 9px 15px 10px;
}

.modal-body {
  padding: 0 15px;
}

.form-check-wrapper {
  direction: rtl;
}

.report-form textarea {
  max-width: 600px;

  margin: 0px auto;

  height: 110px;

  max-height: 170px;

  border-radius: 5px;

  direction: rtl;
}

.main-text {
  text-align: center;
  /* margin: 20px 0 40px; */
}
.form-check-wrapper button {
  width: 100%;

  border: none;

  background: none;

  border-bottom: 1px solid #eee;

  text-align: right;

  padding: 12px 15px 13px;
}
.form-check-wrapper button:hover {
  background: #fafafa;
  cursor: pointer;
}

.form-check-wrapper li {
  position: relative;
}

.form-check-wrapper li:last-of-type button {
  border: none;
}
.form-check-wrapper li i {
  position: absolute;

  top: 15px;

  left: 20px;

  font-size: 18px;

  color: #777;
}

.loading-list {
  padding: 90px 0 130px;
}

.main-contents-wrapper {
  padding: 20px;
  position: relative;
  border-radius: 12px;
  border: 1px solid #f0f0f1;
  margin: 30px auto;
  direction: rtl;
  max-height: 400px;
overflow-y: scroll;
}

.main-contents-wrapper > p {
  margin-top: 20px;
}


/*---------------------------------------
          Main product Styles
      -----------------------------------------*/

      .verified-user {
        position: relative;
        display: inline-block;
        overflow: initial !important;
        background: none;
        border: none;
        font-size: 18px;
        color: #1da1f2;
        top: 1px;
        line-height: 1.3;
        font-weight: 900;
        padding: 0;
    }
  
    .verified-user::before {
        content: "\F00C";
        position: absolute;
        left: 5px;
        font-family: "Font Awesome 5 Free";
        color: #fff;
        top: 4px;
        font-size: 12px;
        z-index: 1;
        line-height: 1;
        font-weight: 900;
    }
    
    .user-information-wrapper i {
        position: relative;
        top: 1px;
        padding: 0 2px;
    }
  
    .user-information-wrapper i {
      position: relative;
      top: 1px;
      padding: 0 2px;
    }
    
    .user-information-wrapper .user-information-wrapper,
    .user-information-wrapper .article-action-buttons button {
      font-size: 14px;
    
      font-weight: bold;
    
      padding: 4px 7px 5px;
    
      margin: 0;
    
      margin-top: 3px;
    
      line-height: 1.618;
    }
    
    .user-information-wrapper .user-information-wrapper {
      height: 55px;
    }
    
    .user-information-wrapper .green-text {
      color: #00c569;
    }
    
    .user-information-wrapper .green-text:hover {
      color: #279b41;
    }
    
    .user-information-wrapper .red-text {
      color: #e41c38;
    }
    
    .user-information-wrapper .red-text:hover {
      color: #d81b35;
    }
    
    .user-information-wrapper .user-image {
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0;
      margin-left: 10px;
    }
    
    .user-information-wrapper .user-information-content-image {
      float: right;
    }
    
    
    
    .user-information-wrapper .article-action-buttons {
      float: left !important;
    }
    
    .user-information-wrapper .user-action-link {
      padding-top: 19px;
    
      padding-right: 8px;
    
      font-size: 11px;
    }
    
    .user-information-wrapper .user-action-link.default {
      padding-top: 9px;
    }
    
    a.user-name-link {
      max-width: 120px;
      overflow: hidden;
      font-size: 14px;
      font-weight: bold;
      color: #777;
      height: 21px;
      padding-top: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    
  .response-rate-wrapper {
    width: 45px;
  }
  
  .response-rate-wrapper button {
    background: #f2f2f2;
    border: none;
    border-radius: 20px;
    font-size: 11px;
    text-align: center;
    color: #e41c38;
    width: 100%;
    line-height: initial;
    padding: 0;
  }
  
    .grid-list a.user-name-link {
  
      height: initial;
  
      max-width: calc(100% - 70px);
  
      overflow: hidden;
    
      font-size: 14px;
    
      font-weight: bold;
    
      color: #777;
    
      display: block;
    
  
      margin: 0;
  
  
      line-height: 1.618;
  
      float: right;
      
      white-space: nowrap;
    
      text-overflow: ellipsis;
    }
    
    .user-information-content, .user-action-link, .user-information-link {
      float: right;
      display: block;
      overflow: hidden;
  }
    
    
      .user-information-content {
      margin: 3px 5px;
      padding: 4px 0 5px;
  
      border-bottom: 1px solid #e9ecef;
    
    }
    
    .grid-list .user-information-content,.grid-list .user-action-link,.grid-list .user-information-link {
      float: none;
      display: block;
      overflow: hidden;
  }
  
    .user-information-content.default {
      padding-top: 5px;
    }
    
    .user-information-wrapper .user-image img,
    .user-information-wrapper .user-image > div {
      height: 100%;
    }
    
    .user-information-wrapper p.response-rate {
      font-size: 10px;
      height: 21px;
      padding: 0;
    }
    .user-information-wrapper .response-rate span {
      color: #e41c38;
    }
    
    .is-user-valid{
        border: 2px solid #00c569;
    }
  
    .main-content-item{
      direction: rtl;
      margin: 15px auto;
      border-radius: 12px;
      border: 1px solid #e0e0e0;
      padding: 0;
      background: #fff;
      float: right;
      width: 100%;
      overflow: hidden;
    }
    
    .grid-list {
    padding: 0 3px;
    }
    
    .grid-list .main-content-item{
      height: 250px;
    }
  
    .main-article-contents p a,
    .main-article-contents span {
    color: #474747;
  }
  
  .main-article-contents h3 a {
    color: #777;
  }
  .main-article-contents h3 {
    font-size: 16px;
  
    font-weight: bold;
  
    max-width: 240px;
  
    overflow: hidden;
  
    height: 25px;
  
    line-height: 1.618;
  
    white-space: nowrap;
  
    text-overflow: ellipsis;
  
    margin-bottom: 10px;
  }
  
  .main-article-contents-wrapper {
    overflow: hidden;
    display: block;
  }
  
  .main-article-contents-image-wrapper {
    float: right;
    padding: 15px;
        padding-left: 15px;
    padding-left: 0;
  }
  
  .grid-list .main-article-contents-image-wrapper {
    width: 100%;
    height: 140px;
    overflow: hidden;
    position: relative;
    float: none;
    padding: 0;
  }
  
  .main-article-contents {
    float: right;
    width: calc(100% - 155px);
    position: relative;
    padding: 15px;
    padding-right: 10px;
  }
  
  .grid-list .main-article-contents {
    width: 100%;
    padding: 5px;
  }
  
  .main-article-contents > a {
    display: block;
    float: right;
  }
  
  .main-article-contents {
    color: #474747;
  }
  
  .main-article-contents p {
    font-size: 15px;
  
    font-weight: bold;
  
    color: #777;
  
    max-width: 500px;
  
    overflow: hidden;
  
    height: 25px;
  
    line-height: 1.618;
  
    white-space: nowrap;
  
    text-overflow: ellipsis;
  
    margin-bottom: 10px;
  }
  .grid-list .main-article-contents p {
    font-size: 13px;
  }
  
  .share-link {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 11px;
    border: 1px solid;
    border-radius: 4px;
    padding: 0 5px;
    color: #777 !important;
    line-height: 21px;
  }
  
  .valid-user-badge {
    width: 36px;
    height: 38px;
    background: #00c569;
    position: absolute;
    left: 14px;
    top: 0;
    padding: 2px;
    border-top: 3px solid #00b761;
    text-align: center;
    color: #fff !important;
  }
  
  .grid-list .valid-user-badge {
    width: 30px;
    height: 35px;
    left: 10px;
    padding: 0 3px;
  }
  
  
  .valid-user-badge::after {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18px 14px;
    border-color: transparent #00c569 transparent #00c569;
    line-height: 0;
    _border-color: #000000 #000000 #000000 #6980fe;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    left: 0;
    bottom: -14px;
  }
  
  .grid-list .valid-user-badge::after {
    border-width: 0 15px 14px;
  }
  .text-danger {
    height: 24px;
  }
  
  .pointer-class {
    cursor: pointer;
  }
  
  .lds-ring {
    display: inline-block;
  
    position: absolute;
  
    width: 64px;
  
    height: 64px;
  
    left: 50%;
  
    top: 50%;
  
    transform: translate(-50%, -50%);
  }
  
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 5px solid #00c569;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #00c569 transparent transparent transparent;
  }
  
  .lds-ring-alt {
    display: block;
    margin-top: 50px;
    direction: rtl;
    text-align: center;
  }
  
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .buyAd-wrapper-item{
    border: 1px solid #ddd;
    padding: 3px 5px 5px;
    border-radius: 12px;
    margin-top: 20px;
    background: #fdfdfd !important;
  }

  .buyAd-wrapper-item .list-title.list-name{
    text-align: center;
    padding: 5px 15px;
    direction: rtl;
    color: #7e7e7e;
  }

  .buyAd-wrapper-item .user-information-wrapper{
    float: right;
    width: 100%;
    margin-bottom: 4px;
  }

  .buyAd-wrapper-item .user-information-content{
    display: block;
    float: right;
    width: 100%;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
  }
  .list-title.list-name div.buyer-text{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .buyAd-wrapper-item .user-content{
    display: block;
    max-width: 170px;
    overflow: hidden;
    font-size: 13px;
    font-weight: 400;
    color: #adadad;
    height: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
  }


  /*preloader image style*/
  
  .main-article-image {
    width: 140px;
    height: 140px;
    overflow: hidden;
    position: relative;
    background: #404b55;
    border-radius: 4px;
  }
  
  .grid-list .main-article-image {
    width: 100%;
    height: 140px;
    overflow: hidden;
    position: relative;
    background: #404b55;
  
  }
  
  /*preloader image style*/
  .main-article-image > div.image{
    position: relative;
    z-index: 0;
    height: 100%;
  }
  
  .main-article-image img {
    width: 100%;
    height: 100%;
  }
  
  .image-count-item {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0,0,0,.5);
    padding: 5px 9px 3px;
    color: #fff;
    border-radius: 50px;
    z-index: 2;
  }
  
  .article-title.grid-list-title{
    position: absolute;
    bottom: 0;
    min-height: 40px;
    width: 100%;
    right: 0;
    background: linear-gradient(transparent,rgba(0,0,0,.5));
    display: flex;
    align-items: center;
    padding-top: 6px;
  }
  
  .article-title.grid-list-title p{
    font-size: 15px;
    padding: 0 5px;
    color: #ebebeb;
    overflow: hidden;
    height: 25px;
    line-height: 1.618;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  
  .article-features {
    text-align: left;
  
    direction: rtl;
  
    padding: 0 15px 15px;
  
    position: absolute;
  
    left: 15px;
  
    bottom: 15px;
  
    min-width: 150px;
  }
  
  .grid-list .article-features {
    bottom: 10px;
  }
  
  .article-features button {
    background: none;
    border: none;
  }
  
  .grid-list .article-action-buttons.calc-width-button {
    width: calc(100% - 50px) !important;
    padding-left: 10px;
  }
  
  .article-action-buttons > button {
    width: 100% !important;
    max-width: 280px;
    margin: 0 auto;
    padding: 7px;
    font-size: 18px;
  }
  
  .article-features button.disable {
    background: #777;
    border: none;
  }
  
  .article-features button.elevator-event {
    background: #e41c38;
    color: #fff;
    border-radius: 4px;
    padding: 7px 14px;
    font-size: 17px;
  }
  
  .grid-list .article-features button.elevator-event {
    position: absolute;
    left: 5px;
    bottom: 15px;
    border: none;
    border-radius: 8px;
    background: #38485f;
    color: #fff;
    padding: 4px 8px;
        font-size: 14px;
  }
  
  .article-features button.disable {
    background: #777;
    border: none;
  }
  
  
  .footer-article .article-action-buttons {
    display: none;
  }
  
  .grid-list .footer-article .article-action-buttons {
    display: block;
  }
  
  .grid-list .footer-article{
    overflow: hidden;
    padding: 0 10px 10px;
  }
  
  .grid-list .article-action-buttons > button{
    margin: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    display: block;
  }
  
  .full-width-button,
  .full-width-button button {
    width: 100% !important;
  }
  .calc-width-button {
    width: calc(100% - 72px) !important;
  }
  .calc-width-button button {
    width: 100% !important;
  }
  
  .load-more-button {
    text-align: center;
  
    margin: 15px auto;
  }
  
  .load-more-button button {
    border: 2px solid;
  
    padding: 15px 30px;
  
    height: initial;
  
    background: #fff;
  
    position: relative;
  
    top: 0;
  
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  
    transition: 200ms;
  
    color: #00c569;
  }
  
  .load-more-button span,.load-more-button span:hover {
    color: #00c569;
  }
  
  .load-more-button button:hover {
    top: -3px;
  
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  
    transition: 200ms;
    color: #00c569;
  }
  
  
  .btn-loader {
    overflow: hidden;
  }
  
  .btn-loader-active-wrapper {
    height: 26px;
  }
  
  .btn-loader img {
    width: 56px;
  
    margin-top: -15px;
  }
  
  
  .rate-filter-desktop-wrapper,
  .rate-filter-mobile-wrapper {
    background: #fff;
    direction: rtl;
    margin: 15px auto 0;
    padding: 7px 15px;
    border-radius: 12px;
  border: 1px solid #e0e0e0;
    overflow: hidden;
  }
  
  .rate-filter-desktop-wrapper > ul {
    float: right;
    padding: 4px 0;
  }
  
  .rate-filter-desktop-wrapper > ul li {
    padding: 0;
  }
  
  .rate-filter-desktop-wrapper ul button {
    background: none;
  
    border: none;
  }
  .rate-filter label {
    float: right;
    margin-left: 7px;
  }
  
  .rate-filter > button {
    padding: 8px 0;
  
    font-size: 14px;
  
    margin: 0;
  
    font-weight: 400;
  
    width: 140px;
  }
  
  .filter-select-input-wrapper {
    float: right;
    max-width: 138px;
    position: relative;
  }
  
  .filter-select-input-wrapper:after {
    content: "\F107";
  
    color: #777;
  
    position: absolute;
  
    display: inline-block;
  
    top: 9px;
  
    font-family: "Font Awesome 5 Free", sans-serif;
  
    font-weight: 900;
  
    left: 6px;
  
    font-size: 20px;
  
    z-index: 0;
  }
  
  
  .show-list-items {
    float: left;
    padding-top: 2px;
  }
  .show-list-items button {
    background: #eee;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px 14px 0;
    transition: 300ms;
  }
  .show-list-items button:hover {
    background: #556080;
    color: #fff;
    border-color: #556080;
    transition: 300ms;
  }
  .show-list-items button.active {
    background: #556080;
    color: #fff;
    border-color: #556080;
    transition: 300ms;
  }
  
  
  .rate-filter {
    float: right;
  }
  
  .static-sort-item{
    color: #999;
  }

  .title-contents {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 0;
  }

  .form-contents-wrapper {
    direction: rtl;
    direction: rtl;
    border: 1px solid #f0f0f1;
    border-radius: 12px;
    padding: 20px 15px;
  }
  
  .form-wrapper {
    margin: 0 auto;
  }
  .form-contents {
    margin-top: 26px;
    margin-bottom: 15px;
  }
  .submit-button {
    background: #dddddd;
    color: #fff;
    border: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    padding: 8px 45px 7px;
    transition: 200ms;
    cursor: default;
    margin: 0;
  }
  
  .submit-button i {
    transition: 300ms;
    position: relative;
    top: 2px;
    left: -3px;
  }
  
  .input-text-wrapper {
    height: 25px;
    padding-top: 5px;
  }
  
  .small-description-text {
    text-align: left;
  }
  
  .submit-button.default-back-button i {
    left: 3px;
  }
  
  .submit-button.default-back-button {
    background: #fff;
    color: #777;
    border: 1px solid #bdc4cc;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
  }
  
  .submit-button.default-back-button:hover i {
    transform: translateX(5px);
  }
  .submit-button.active {
    background: #00c569;
    cursor: pointer;
    transform: translateX(0);
  }
  .submit-button.active:hover i {
    background: #00c569;
    cursor: pointer;
    transform: translateX(-5px);
  }
  .action-control-wrapper {
    padding: 20px 15px 50px;
    background: #fff;
  }
  
  label {
    margin: 0 auto 10px auto;
    font-size: 15px;
    font-weight: 400;
    color: #777;
  }
  .small-label {
    font-size: 15px;
  }
  
  .text-input-wrapper {
    margin: 0 auto;
    position: relative;
    background: #fbfbfb;
  }
  
  #register-request-section input {
    background: none;
    z-index: 1;
    position: relative;
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #bdc4cc;
    border-radius: 8px;
    box-shadow: none;
  }
  
  .text-input-wrapper i {
    position: absolute;
    left: 15px;
    top: 11px;
    font-size: 18px;
    color: #bdc4cc;
    transition: 300ms;
  }
  
  #register-request-section input:focus,
  #register-request-section input:focus + i {
    color: #333;
    border-color: #333;
  }
  
  #register-request-section input.active {
    border-color: #00c569;
    color: #333;
  }
  
  #register-request-section input.active + i {
    color: #00c569;
  }
  
  #register-request-section input.active:focus,
  #register-request-section input.active:focus + i,
  #register-request-section input.active + i {
    border-color: #00c569;
  }
  
  #register-request-section input.error {
    color: #333;
    border-color: #e41c38;
  }
  
  #register-request-section input.error + i {
    color: #e41c38;
  }
  
  #register-request-section input.error:focus,
  #register-request-section input.error:focus + i {
    border-color: #e41c38;
  }
  
  .spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    top: -5px;
    position: relative;
    left: 2px;
  }
  
  #register-request-section select {
    width: 100%;
    border-radius: 8px;
    padding: 8px 15px;
    position: relative;
    z-index: 1;
    color: #777777;
    direction: rtl;
    -webkit-transition: 200ms;
    transition: 200ms;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: 1px solid #bdc4cc;
  }
  
  .input-wrapper i {
    display: inline-block;
  
    position: absolute;
  
    left: 15px;
  
    font-size: 20px;
  
    color: #bebebe;
  
    top: 9px;
  
    transition: 200ms;
  }
  
  .select-items.input-wrapper {
    position: relative;
    margin: 6px auto;
    background: #fbfbfb;
  }
  
  .select-items.input-wrapper:after {
    content: "\F107";
  
    color: #777;
  
    position: absolute;
  
    display: inline-block;
  
    top: 6px;
  
    font-family: "Font Awesome 5 Free", sans-serif;
  
    font-weight: 900;
  
    left: 15px;
  
    font-size: 20px;
  
    z-index: 0;
  }
  
  #register-request-section select option {
    color: #333;
  }
  
  #register-request-section select:focus {
    color: #333;
  }
  
  #register-request-section select.active {
    color: #333;
    color: #00c569;
    border: 1px solid #00c569;
  }
  
  #register-request-section select.active:focus {
    color: #00c569;
  }
  
  #register-request-section select.error {
    color: #333;
    color: #e41c38;
    border: 1px solid #e41c38;
  }
  
  #register-request-section select.error:focus {
    color: #e41c38;
  }
  
  .error-message {
    text-align: right;
  
    color: #e41c38;
  
    font-weight: bold;
  
    height: 25px;
  
    direction: rtl;
  
    font-size: 11px;
  }
  
  .small-description {
    font-size: 11px;
  
    font-weight: bold;
  
    color: #777777;
  
    line-height: 1.618;
  }
  
  .small-description-text {
    text-align: right;
  
    font-weight: bold;
    color: #777777;
  
    height: 25px;
  
    direction: rtl;
  
    font-size: 12px;
  }
  
  .submit-button-wrapper {
    text-align: center;
    margin-top: 30px;
  }
  
  label .small-label {
    font-size: 12px;
  }
  
        /*---------------------------------------
                  End Main Product section
                -----------------------------------------*/

@media screen and (max-width: 767px) {

  .hero-search-input > input {
    padding: 11px 15px;
  }

  select {
    font-size: 12px;
  }
  .input-wrapper::after {
    left: 14px;
  }
  .form-contents {
    border-radius: 0;
  }
  .title-section {
    padding: 0 15px;
  }
  select {
    font-size: 12px;
  }
  .input-wrapper::after {
    left: 14px;
  }
  .title-contents.margin-top-30 {
    margin-top: 30px;
  }

  #intro {
    margin-top: 75px;
  }
  .hero-search-input {
    width: 100%;

    margin-bottom: 15px;

    min-width: initial;

    overflow: hidden;
  }

  .hero-search-input button {
    padding: 13px 15px 15px;
  }

  #intro a.green-button {
    margin: 0 auto;

    float: none !important;
  }

  .secondary-nav-wrapper {
    padding: 0;
  }

  .category-item {
    padding: 7px 15px 13px;
  }

  .category-item i::before {
    position: relative;
    right: 1px;
    top: 4px;
  }

  li.active > ul {
    left: 0;

    right: 0;
  }

  .product-link.green-button {
    margin: 15px 0 0;
  }

  #categories-modal > div {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .modal-content {
    min-height: 100%;

    border-radius: 0;

    border: none;

    float: right;

    width: 100%;
  }
  .title-box p {
    text-align: center;
  }

  .section-wrapper .title-box {
    text-align: center;
  }
}