

.product-carousel .owl-dots {
    text-align: center;
    position: absolute;
    left: initial;
    width: 100%;
}

.product-carousel .owl-dot {
    width: 7px !important;
    height: 7px !important;
    background: #d4d4d4 !important;
    margin: 0 3px !important;
    border-radius: 50px !important;

}

 .product-carousel  .owl-nav{

    position: absolute;

    width: 100%;

    margin-top: -10px;

    top: 50%;

}

 .product-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}


@media screen and (max-width: 767px ){
    
    .owl-dots {

        position: absolute;

        left: 50px;

        z-index: 1;

        padding-top: 18px;

        display: block;

        text-align: center;

        width: calc(100% - 100px);

    }

} 
