html,
body,
#app,
#app > div {
  height: 100%;
}

a, a:hover, a:visited, a:focus, a:active{
  outline: none;
}


.hover-effect {
  transition: 200ms !important;
}
.hover-effect:hover {
  transition: 200ms !important;

  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2) !important;
}

.standard-line {
  line-height: 1.618;
}

.default-user-contents {
  border-bottom: 2px solid #eeeeee;
}

.content-full-width {
  height: 20px;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.content-half-width {
  height: 15px;
  display: block;
  width: 50%;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.content-default-width {
  height: 15px;
  display: block;
  width: 75%;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.content-min-width {
  height: 15px;
  display: block;
  width: 25%;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.full-content-wrapp {
  position: absolute;
  width: 100%;
  height: 100%;
}
.default-main-article-content {
  width: calc(100% - 140px);
  padding: 0 10px;
}

.default-main-article-content span {
  margin: 0 0 13px auto;
}

.default-main-image {
  position: relative;
  padding: 100%;
}

.default-wrapper-main-image {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 4px;
}

.default-finish-step-image {
  height: 130px;
}

.default-user-content {
  padding-bottom: 15px;
}

.default-article-contents {
  position: relative;

  overflow: hidden;
}

.default-article-user-image {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.default-icon {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.default-button-full-with {
  height: 28px;
  margin: 15px auto;
  width: 100%;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}

.default-button-min-with {
  height: 28px;
  margin-top: 3px;
  width: 80px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}

.default-button {
  height: 28px;
  margin: 15px auto;
  min-width: 130px;
  padding: 0 15px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}

.default-item-wrapper {
  padding: 15px;
}

.default-boxing-size {
  margin: 15px auto;
  padding: 15px;
}
.default-input-boxing-size {
  margin: 15px auto;
  padding: 25px;
}

.default-title-boxing-size {
  margin: 15px 0;
}

.inline-block {
  display: inline-block;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-rtl {
  direction: rtl;
}

.text-ltr {
  direction: ltr;
}

.margin-10-0 {
  margin: 10px 0;
}

.margin-10 {
  margin: 10px;
}

.margin-10-auto {
  margin: 10px auto;
}

.margin-15 {
  margin: 15px;
}
.margin-15-0 {
  margin: 15px 0;
}
.margin-0-15 {
  margin: 0 15px;
}
.margin-0 {
  margin: 0 !important;
}

.margin-auto {
  margin: 0 auto;
}

.margin-15-auto {
  margin: 15px auto;
}

.margin-top-10 {
  margin-top: 10px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-0 {
  padding: 0 !important;
}

.padding-10-0 {
  padding: 10px 0 !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15-0 {
  padding: 15px 0 !important;
}

.padding-0-15 {
  padding: 0 15px !important;
}

.h-20 {
  height: 20px;
}

.h-40 {
  height: 40px;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.red-text {
  color: #e41c38 !important;
}

.yellow-text {
  color: #ffbb00 !important;
}

.blue-text {
  color: #1DA1F2 !important;
}
.brand-text {
  color: #556080 !important;
}

.green-text {
  color: #00c569;
}
.light-green-text {
  color: #21ad93;
}
.gray-text {
  color: #777;
}
.disable-text {
  color: #dbdbdb !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-red {
  background-color: #e41c38 !important;
}

.bg-green {
  background-color: #00c569 !important;
}

.bg-gray {
  background-color: #556080 !important;
}

.category-products-widget-default {
  padding: 15px;
}
.shadow-content {
  box-shadow: 0 0 15px #dbdbdb;
  border-radius: 5px;
}

.empty {
  opacity: 0;
}
/*spinner and animation styles*/
.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25rem solid currentColor;
  border-right-color: currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 1s linear infinite;
  animation: spinner-border 1s linear infinite;
}
.bd-example::after {
  display: block;
  clear: both;
  content: "";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
@keyframes spinner-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*product view user info styles*/

.user-info-wrapper .default-wrapper-main-image {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  margin: 0 auto;
}

.default-user-info-wrapper {
  padding: 30px 20px 15px !important;
}

/*end product view user info styles*/

/*product view styles*/

.default-image-wrapper {
  width: 350px;
}

.default-product-image {
  height: 380px;
}

.default-product-contents {
  width: calc(100% - 380px);
}

.default-product-list {
  padding: 9px 0;
}

.default-product-list li {
  display: flex;

  justify-content: space-between;

  padding: 15px 0;

  border-bottom: 1px solid #f1f1f1;
}

@media screen and (max-width: 991px) {
  .default-image-wrapper,
  .default-product-contents {
    width: 100%;
  }
}

/*index styles*/

.default-index-product-image {
  position: relative;
  width: 200px;
  height: 140px;
}

/*end product view styles*/

.placeholder-content {
  background: linear-gradient(
    72deg,
    #dddddd,
    #dddddd,
    #f0f3f6,
    #dddddd,
    #dddddd
  );
  background-size: 1000% 1000%;

  -webkit-animation: AnimationBackgroundGradient 3s ease infinite;
  -moz-animation: AnimationBackgroundGradient 3s ease infinite;
  -o-animation: AnimationBackgroundGradient 3s ease infinite;
  animation: AnimationBackgroundGradient 3s ease infinite;
}

@-webkit-keyframes AnimationBackgroundGradient {
  0% {
    background-position: 0 69%;
  }
  100% {
    background-position: 100% 32%;
  }
}

@-moz-keyframes AnimationBackgroundGradient {
  0% {
    background-position: 0 69%;
  }
  100% {
    background-position: 100% 32%;
  }
}

@-o-keyframes AnimationBackgroundGradient {
  0% {
    background-position: 0 69%;
  }
  100% {
    background-position: 100% 32%;
  }
}

@keyframes AnimationBackgroundGradient {
  0% {
    background-position: 0 69%;
  }
  100% {
    background-position: 100% 32%;
  }
}

@media screen and (max-width: 767px) {
  .xs-text-right {
    text-align: right;
  }

  .xs-text-right span {
    margin: 20px 15px;

    float: right;

    width: 30%;
  }
  .xs-default-user-button {
    width: 80px;

    float: left;

    margin: 15px auto;
  }
  .default-item-wrapper {
    padding: 15px 0;

    border: none;
  }
}
