@font-face {
    font-family: "IranSans";
    src: url(../fonts/IranSans.woff);
}

body {
    font-family: "IranSans", Tahoma;
    background: #ffffff;
    font-style: normal;
    font-weight: 300;
}

/*---------------------------------------
    Typorgraphy
-----------------------------------------*/
h1, h2, h3, h4, h5 {
    font-weight: 300;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 22px;
}

h5 {
    color: #ddd;
    padding-top: 10px;
}

h6 {
    color: #666;
    font-weight: 500;

}

img {
    width: 100%;
}

p {
    color: #707070;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

a {
    text-decoration: none !important;
    outline: none;
}

a:visited,
a:focus {
    outline: none;
    text-decoration: none !important;
}

/*---------------------------------------
    General
-----------------------------------------*/
.section-title {
    margin-bottom: 32px;
}

#request,
#recent,
#feature,
#video,
#team,
#pricing,
#testimonial,
#contact, footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

footer {
    text-align: center;
}

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
}

/*---------------------------------------
    Preloader section
-----------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-pulse {
    width: 100px;
    height: 100px;
    background-color: #1abc9c;
    border-radius: 100%;
    -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
    animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

/*---------------------------------------
    Navigation Links section
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #ffffff;
}

.custom-navbar .navbar-brand {
    width: 135px;
    text-align: center;
    margin: 10px auto;
    display: inline-block;
    background-size: contain;
}

.logo-des {
    color: #373737;
    float: left;
    padding: 24px 5px 0;
}

.main-logo {
    width: 30%;
    margin: 0 auto;
}

.main-logo img {
    width: 100%;
}

.custom-navbar .nav li a {
    color: #000;
    font-weight: 400;
    padding: 10px 15px;
    text-transform: uppercase;
    line-height: 20px;
    transition: all 0.4s ease-in-out;
}

.top-nav-collapse .nav li a {
    color: black;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    transition: all 0.4s ease-in-out;
}

.top-nav-collapse .nav .ads {
    color: white;
    font-weight: 400;
}

.top-nav-collapse .nav {
    padding-top: 16px;
}

.nav.navbar-nav.navbar-left {
    padding-top: 16px;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #4dc11d;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #4dc11d;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #4dc11d;
    border-color: transparent;
}

.ads {
    background-color: #46ae1b;
    border-radius: 50px;
    text-align: center;
    color: #fff !important;
    margin: 0 5px;
}

.ads:hover {
    background-color: #4dc11d !important;
    border-radius: 50px;
    text-align: center;
}

@media (max-width: 1120px) {
    .logo-des {
        display: none;
    }

}

@media (max-width: 992px) {
    .content_service {

        font-size: 15px;

    }

    .content_service {
        font-size: 14px;
    }

}

@media (max-width: 880px) {
    .navbar-brand {
        padding: 0;
        width: 150px;
        background-size: 100%;
    }

    .top-nav-collapse .nav li a {
        padding: 11px 5px;
    }

    .custom-navbar .nav li a {
        padding: 11px 5px;
    }
}

@media (min-width: 768px) {
    .content_service {
        font-size: 14px;
    }

    .custom-navbar {
        border-bottom: 0;
        background: #fff;
    }

    .custom-navbar.top-nav-collapse {
        background: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.04);
    }

    .test {
        background-image: url(../images/logo_dark.png);
        background-repeat: no-repeat;
        background-size: 180px 75px;
        border-left: 10px;
    }
}

@media ( max-width: 768px) {
    .content_service {
        text-align: center;
        display: inline-block;
    }

    .ads {
        background-color: #46ae1b;
        border-radius: 50px;
        text-align: center;
        color: #fff !important;
        margin: 0 5px;
    }

    .float_li {

        float: right;
        padding: 0 7px;
        width: 50%;

    }

    .custom-navbar {
        padding: 5px 0;
        border-bottom: 0;
        background: #fff;
    }

    .custom-navbar.top-nav-collapse {
        background: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.04);
        padding: 0;
    }

    .test {
        background-image: url(../images/logo_dark.png);
        background-repeat: no-repeat;
        background-size: 200px 75px;
        background-position: center;
        /*        background-color:aqua;*/
        /*        margin-right: 15%;*/
        margin-right: 18%;
    }
}

/*---------------------------------------
    Intro section
-----------------------------------------*/

#intro {
    background: url('../../assets/img/hero-section.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 150px 0 80px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#intro h2 {
    font-size: 32px;
}

#intro .gradient-overlay {
    /*background: rgba(00, 00, 00, 0.1);*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

#intro .btn {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 60px;
    margin-right: 12px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

#intro .btn-purple {
    background: rgba(0, 0, 85, 0.7);
}

#intro .btn-green {
    background: rgba(20, 139, 0, 0.7);
}

#intro .btn-purple:hover {
    background: rgba(0, 0, 85, 1);
}

#intro .btn-green:hover {
    background: rgba(20, 139, 0, 1);
}

.btn-incobac {
    background: #3c9544;
    border-radius: 3px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    display: block;
    transition: 200ms;
}

.btn-incobac:hover {
    background: #52ba27;;
    color: #fff;
    transition: 200ms;
}

.mouse-animation {
    margin: 110px 0 10px -14px;
}

.mouse-animation > a {
    display: inline-block;
    border: 2px solid;
    color: #fff;
    width: 50px;
    height: 50px;
    padding-top: 6px;
    border-radius: 50px;
    transition: 300ms;
}

.mouse-animation > a:hover {
    background: #ffffff;
    color: #333333;
    transition: 300ms;
    border-color: #fff;

}

.mouse-animation span {
    font-size: 40px;
    animation: animationFrames linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 4s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 4s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

/*animation mouse*/

@keyframes animationFrames {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(0px, 10px);
    }
    21% {
        transform: translate(0px, 0px);
    }
    30% {
        transform: translate(0px, 10px);
    }
    40% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes animationFrames {
    0% {
        -moz-transform: translate(0px, 0px);
    }
    10% {
        -moz-transform: translate(0px, 10px);
    }
    21% {
        -moz-transform: translate(0px, 0px);
    }
    30% {
        -moz-transform: translate(0px, 10px);
    }
    40% {
        -moz-transform: translate(0px, 0px);
    }
    100% {
        -moz-transform: translate(0px, 0px);
    }
}

@-webkit-keyframes animationFrames {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    10% {
        -webkit-transform: translate(0px, 10px);
    }
    21% {
        -webkit-transform: translate(0px, 0px);
    }
    30% {
        -webkit-transform: translate(0px, 10px);
    }
    40% {
        -webkit-transform: translate(0px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@-o-keyframes animationFrames {
    0% {
        -o-transform: translate(0px, 0px);
    }
    10% {
        -o-transform: translate(0px, 10px);
    }
    21% {
        -o-transform: translate(0px, 0px);
    }
    30% {
        -o-transform: translate(0px, 10px);
    }
    40% {
        -o-transform: translate(0px, 0px);
    }
    100% {
        -o-transform: translate(0px, 0px);
    }
}

@-ms-keyframes animationFrames {
    0% {
        -ms-transform: translate(0px, 0px);
    }
    10% {
        -ms-transform: translate(0px, 10px);
    }
    21% {
        -ms-transform: translate(0px, 0px);
    }
    30% {
        -ms-transform: translate(0px, 10px);
    }
    40% {
        -ms-transform: translate(0px, 0px);
    }
    100% {
        -ms-transform: translate(0px, 0px);
    }
}

/*end*/
.green-bot {
    margin: 15px 0;
    display: inline-block;
    background: #28a745;
    color: #fff;
    padding: 10px 35px;
    border-radius: 3px;
    text-align: center;
    border: none;
    transition: 300ms;
}

.green-bot:focus, .gray-bot:focus {
    color: #fff;
}

.blue-bot {
    margin: 15px 0;
    display: inline-block;
    background: #150e47;
    color: #fff;
    padding: 10px 35px;
    border-radius: 3px;
    text-align: center;
    border: none;
    transition: 300ms;
}

.green-bot:hover {
    color: #fff;
    background: #00d614;
    transition: 300ms;

}

.blue-bot:hover {
    color: #fff;
    background: #160F55;
    transition: 300ms;

}

#intro .btn-danger {
    background: #4dc11d;
    border-color: #4dc11d;
    color: #ffffff
}

#intro .btn-danger:hover {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

#intro .btn-default:hover {
    background: #4dc11d;
    color: #ffffff;
    border-color: transparent;
}

.search_input {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

.search_input button {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 85, 0.7);
    border: none;
    padding: 0 30px;
    bottom: 0;
    transition: 250ms;
}

.search_input button:hover {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 85, 1);
    border: none;
    padding: 0 30px;
    bottom: 0;
    transition: 250ms;
}

.search_input input {
    width: 100%;
    padding: 10px 15px;
    border: none;

    background: rgba(255, 255, 255, 0.8);
    color: #333;

}

/*---------------------------------------
   Footer section
-----------------------------------------*/

footer {
    background: #000122;
}
.footer-bottom{
    background: #000235;
    text-align: center;
    padding: 20px 0;
}
.social-icon a{
    border: 1px solid;
    margin: 7px;
}
.social-icon ,.footer-bottom p {
    display: inline;
    margin: 30px;
}
footer p {
    text-align: right;
    color: white;
}
.footer-list{
    text-align: right;
    line-height: 1.618;
}
.footer-list li{
    text-align: right;
    line-height: 1.618;
}
.footer-list a{
    color: #fff;
    padding: 7px 0;
    display: inline-block;
}
.footer-list a:hover{
    color: #00a65a;
}
/* Back top */
.go-top {
    background-color: #ffffff;
    box-shadow: 1px 1.732px 12px 0 rgba(0, 0, 0, .14), 1px 1.732px 3px 0 rgba(0, 0, 0, .12);
    transition: all 1s ease;
    bottom: 2em;
    left: 2em;
    color: #333;
    font-size: 24px;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border-radius: 100%;
}

.go-top:hover {
    background: #4dc11d;
    color: #ffffff;
}

/*---------------------------------------
   Social icon
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #666;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: #4dc11d;
    color: #ffffff;
}

.user-header-mobile {
    display: none;
}

.profile-menu-header {
    padding: 12px;
    float: left;
}

.profile-menu-header > a {
    border-right: 1px solid #4dc11d;
}

.profile-menu-header a {
    color: #7f8c9b;
    margin: 5px 0;
    position: relative;
    padding: 3px 15px !important;
}

.profile-menu-header i {
    position: absolute;
    left: -75px;
    top: 5px;
    font-size: 20px;
}

.image-header-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-top: -15px;
}

.image-header-profile img {
    height: 100%;
}

.profile-list {
    position: absolute;
    width: 156px;
    background: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px #313a43;
    text-align: right;
    left: -12px;
    top: 59px;
    display: none;
    z-index: 999;
}

.profile-list li {
    padding: 5px 0;
}

.profile-list li:last-of-type {
    border-bottom: none;
}

.user-header-web {
    position: relative;
}

img.image-blur {
    transition: 300ms;
}

img.image-blur:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.enamad {
    text-align: center;
}

.enamad  img {
    width: 200px;
    text-align: center;
    background: #fff;
    padding: 9px;
    border-radius: 5px;
    position: relative;
    top: 0;
    transition: 300ms;
}
.enamad  img:hover {
    top: -5px;
    box-shadow: 0 0 30px #000;
}

/*---------------------------------------
   Responsive styles
-----------------------------------------*/
@media screen and (max-width: 1249px) {
    #video-bg {
        width: inherit;
        height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .content_service {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) {
    .content_service {
        font-size: 14px;
    }
}

@media screen and (max-width: 980px) {
    .main_hover {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        width: 80%;
        margin: 0 auto;
    }

    .main_hover a {
        width: 100%;
        padding: 10px;
        margin: 10px auto;
        font-size: 14px;
        font-weight: 800;
    }

    .main_hover p {
        color: #fff !important;
        font-size: 16px;
        line-height: 1.618;
    }
}

@media screen and (max-width: 768px) {
    footer p {
        text-align: center;
        color: white;
    }
    .footer-list li{
        text-align: center;
    }
    .content_service {
        font-size: 20px;
    }

    .main-logo {
        display: none;
    }

    #intro {
        padding: 85px 0 30px;
    }

    .main_hero_section {
        padding: 0;
        margin-top: 20px;
    }

    .mouse-animation {
        margin: 40px 0 10px -14px;
    }

    .user-header-mobile .profile-menu-header {
        padding: 25px 0 0;
        float: left;
    }

    .user-header-mobile .profile-list {
        left: 30px;
        top: 70px;
    }

    .user-header-mobile .profile-menu-header i {
        top: 9px;
        left: -40px;
    }

    h1 {
        font-size: 41px;
    }

    h2 {
        font-size: 31px;
    }

    h3 {
        font-size: 20px;
    }

    h5 {
        line-height: 24px;
    }

    .custom-navbar .navbar-brand {
        line-height: 18px;
    }

    .custom-navbar .navbar-nav li a {
        line-height: 25px;
    }

    /*    #intro {
            height: 485px;
        }*/
    #video p {
        font-size: 18px;
    }

    .custom-navbar .navbar-toggle {
        float: right;
        width: 20%;
        text-align: center;
        padding-top: 31px;
        padding-right: 30px;
        margin: 0;
    }

    .cta-bot {
        display: none !important;
    }

    .cta-bot.cta-bot-mobile {
        display: inline-block !important;
    }
}

@media screen and (max-width: 767px) {
    .user-header-mobile {
        display: block;
        width: 7%;
        float: left;
        margin-left: 30px;
    }

    .user-header-web {
        display: none !important;
    }

    .profile-menu-header > a {
        border-right: none;
    }

    .custom-navbar .navbar-brand {
        display: block;
        margin: 8px auto;
        float: none;
    }

    .image-header-profile {
        margin-top: -15px;
    }

}

@media screen and (max-width: 534px) {
    .content_service {
        font-size: 16px;
    }

    .custom-navbar .navbar-brand {
        line-height: 18px;
    }

    #video-bg {
        right: -70px;
    }

    #intro .btn {
        border: 3px solid #ffffff;
        border-radius: 8px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 60px;
        width: 100%;

        margin: 10px auto;

    }
}

@media screen and (max-width: 432px) {
    .title_service {
        font-size: 16px;
        line-height: 1.618;
    }

    .content_service {
        text-align: right;
        font-size: 14px;
        line-height: 1.618;
    }

    .custom-navbar .navbar-brand {
        width: 55%;
        background-size: 50%;
        background-position: 50% 50%;
    }
    .user-header-mobile {
        display: block;
        width: 7%;
        float: left;
        margin-left: 30px;
    }
    .user-header-mobile .profile-menu-header i {
        top: 9px;
        left: -40px;
    }
    #video-bg {
        right: -200px;
    }
}

@media screen and (max-width: 338px) {
    .custom-navbar .navbar-brand {
        width: 55%;
    }

}

@media screen and (max-width: 313px) {
    /*  #intro {
          height: 470px;
      }*/
    .custom-navbar .navbar-toggle {
        float: right;
        width: 20%;
        text-align: center;
        padding-top: 31px;
        padding-right: 17px;
        margin: 0;
    }

    .user-header-mobile {
        display: block;
        width: 7%;
        float: left;
        margin-left: 32px;
    }

    .user-header-mobile .profile-menu-header i {
        top: 9px;
        left: -40px;
    }
}

@media screen and (max-width: 293px) {
    .main_hero_section {
        padding: 0;
        margin-top: 83px;
    }
}

