.pricing-table {
    background: #fff;

    margin: 60px auto;

    border-radius: 6px;

    overflow: hidden;

    box-shadow: 0 0 18px #d5d5d5;
}

.pricing-table th, .pricing-table td {
    text-align: center;
    padding: 13px;
}

.green-check {
    color: #3c9544;
}

.red-check {
    color: #e41c38;
}

.pricing-table thead .head-package {
    background: #000546;
    padding: 15px 30px 0;
    color: #fff;
}

.pricing-table thead .head-secend-package {
    background: #f2f2f2;
    padding: 0 30px 20px;
    color: #333;
}

.pricing-table thead {
    font-size: 20px;
}

.pricing-table td {
    cursor: pointer;

}

.pricing-table > tbody > tr:nth-of-type(2n+1) {
    transition: 300ms;
    border: none;
    position: relative;
}

.pricing-table > tbody > tr {
    transition: 300ms;
    border: none;
}

#price-tr {
    background: #f2f2f2;
    color: #000546;
}

.main-table-item {
    position: relative;
}

.pricing-table > tbody > tr:nth-of-type(2n+0) {
    color: #333;
    transition: 300ms;
    box-shadow: inset 0 0 15px #d2d2d2;

}

.pricing-table > tbody > tr:last-of-type {
    box-shadow: none;
}

.pricing-table > tbody > tr:nth-of-type(2n+1):hover {
    background: #f2f2f2;
    color: #333;
    transition: 300ms;
}

.pricing-table > tbody > tr:last-of-type:hover {
    background: #fff;
}

.pricing-table > tbody > tr .collapse-icon {
    display: none;
}

.main-pricing-icon {
    width: 130px;
    margin: 0 auto;
}

.pricing-table > tbody > tr:nth-of-type(2n+1) .collapse-icon {
    display: block;

    content: "\f107";

    width: 20px;

    height: 20px;

    background: #000546;

    position: absolute;

    left: -5px;

    top: 0;

    border-radius: 5px;

    font-family: "fontawesome", sans-serif;

    color: #fff;

    font-size: 18px;

    transition: 300ms;

    padding-right: 0;
}

.pricing-table > tbody > tr.changed-angle .collapse-icon {
    content: "\f107";
    transform: rotate(180deg);
    transition: 300ms;
}

@media (max-width: 991px) {
    #faq .container {
        width: 100%;

    }

    #faq .container .row {
        margin: 0;
    }

    #faq .container .row > div {
        padding: 0;
    }

    .main-pricing-icon {
        width: 80px;
        margin: 0 auto;
    }

    .pricing-table thead .head-secend-package {
        background: #f2f2f2;
        padding: 0 15px 8px;
        color: #333;
    }

    .main-table-item {
        padding-left: 20px;
    }

    .green-bot {
        padding: 12px 20px;
    }
}

@media (max-width: 767px) {
    table {
        font-size: 13px;
    }

    .green-bot {
        padding: 7px 18px;
    }

    #faq .container {
        padding: 0;

    }

    .pricing-table > tbody > tr:nth-of-type(2n+1) .collapse-icon {
        top: 20px;
        font-size: 15px;
        padding-top: 2px;
        z-index: 1;
    }

    table thead th {
        font-size: 14px;
    }

    .main-pricing-icon {
        width: 60px;
        margin: 0 auto;
    }

    .pricing-table thead .head-secend-package {
        background: #f2f2f2;
        padding: 0 0 8px;
        color: #333;
    }

    .main-table-item {
        padding-left: 13px;
    }

    .pricing-table {
        background: #fff;
        margin: 20px auto;
        width: 100%;
    }

}

@media (max-width: 562px) {
    .main-table-item {
        padding-left: 0;
    }

    .green-bot {
        padding: 7px 13px;
    }

    .pricing-table thead .head-package {
        background: #000546;
        padding: 15px 10px 0;
        color: #fff;
    }
}

@media (max-width: 475px) {

    .green-bot {
        padding: 7px 7px;
        font-size: 13px;
        margin: 0 2px;
    }

}

@media (max-width: 360px) {

    .pricing-table th, .pricing-table td {

        text-align: center;
        padding: 13px 0;

    }

    .pricing-table > tbody > tr:nth-of-type(2n+1) .collapse-icon {
        left: 5px;
    }
}
