<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت آگهی های خرید </title>
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>

    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <link type="text/css" rel="stylesheet" href="assets/css/fontiran.css">
    <link type="text/css" rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<header id="header" class="main-header">
    <div class="profile-menu-header col-md-3 col-sm-4">
        <a href="#" onclick="dropdown()">
            <div class="image-header-profile">
                <img src="assets/img/saeed.jpg" alt="سعید رادمنش">
            </div>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <span class="name-header-profile">سعید رادمنش</span>
        </a>
        <div class="profile-list">
            <ul class="list-unstyled">
                <li class="list-item"><a href="#">پروفایل</a></li>
                <li class="list-item"><a href="#">خروج</a></li>
            </ul>
        </div>
    </div>
    <nav class="header-nav col-md-7 col-sm-8">
        <ul class="list-inline">
            <li><a href="#"> وبلاگ</a></li>
            <li><a href="#">لیست درخواست خرید</a></li>
        </ul>
    </nav>
    <div class="logo  col-sm-3 col-md-2 col-xs-6">
        <img src="assets/img/logo-incobac.png">
    </div>
    <div class="title-page">
    </div>
</header>

<main id="main" class="col-sm-12">
    <section class="main-content container ">
        <div class="main-content-item">
            <div class="header-content col-sm-12">

                <div class="col-sm-8">
                    <div class="user-contents ">
                        <h1>سعید رادمنش</h1>

                        <p>
                            حوضه فعالیت : <span>
                            خشکبار - انجیر
                        </span>
                        </p>
                        <p>
                            آدرس : <span>
                           فارس - شیراز
                        </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="user-image  ">
                        <img src="assets/img/saeed.jpg">
                    </div>
                </div>


            </div>
            <div class="info-section col-sm-12">
                <div class="contents-info-num  col-sm-3">
                    <p>
                        09013709748 </p>
                </div>
                <div class="contents-info col-sm-9">
                    <p>
                        جهت برقراری ارتباط با این فرد لطفا با کارشناس اینکوباک تماس بگیرید.
                    </p>

                </div>

            </div>
            <div class="sub-header col-sm-12">
                <ul class="list-inline">
                    <li class="list-item active"><a href="#">
                        محصولات من                    </a>
                    </li>
                    <li class="list-item"><a href="#">
                           توضیحات من
                    </a>
                    </li>
                </ul>
            </div>
       <div class="contents">
           <article class="article-contents   col-sm-12">
               <div class="main-article-content col-md-7">
                   <h2 class="main-article-title">
                       <a href="#">میوه - موز</a>
                   </h2>
                   <table class="table table-striped">
                       <tr>
                           <td>نوع محصول:</td>
                           <td>دارابی</td>
                       </tr>
                       <tr>
                           <td>موجودی<span class="">(کیلوگرم)</span> :</td>
                           <td>دارابی</td>
                       </tr>
                       <tr>
                           <td>قیمت واحد<span class="">(هر کیلو به تومان)</span> :</td>
                           <td> 5000 تومان</td>
                       </tr>
                       <tr>
                           <td> حداقل سفارش<span class="">(کیلوگرم)</span> :</td>
                           <td> 200 </td>
                       </tr>
                       <tr>
                   </table>
                   <p>توضیحات: <span> محصولی جدید از ایران خودرو</span></p>
               </div>
               <div class="image-article-content col-md-5">
                   <div class="main-image col-xs-12">
                       <a  href="assets/img/badam.jpg"><img src="assets/img/badam.jpg" alt=""></a>
                   </div>
                   <div class="col-xs-12">
                       <button class="green_bot ">
                           توضیحات بیشتر
                       </button>
                   </div>

               </div>
           </article>
       </div>
        </div>
    </section>
</main>
</body>
<script src="assets/js/custom.js"></script>
</html>