.custom-sweet-alert {
  overflow: hidden;
  border-radius: 13px;
}

.swal-button {
  background-color: #00c569;
}

.swal-title {
  font-size: 16px;
  margin: 0;
  padding: 7px;
  border-bottom: 1px solid #e5e5e5;
}
.swal-title:first-child {
  margin-top: 0;
}

.sweet-alert-close-button {
  font-size: 20px;

  color: #777;

  position: absolute;

  right: 0;

  padding: 8px 15px 2px;

  top: 0;

  background: none;

  border: none;
}

.swal-footer .swal-button-container:last-of-type {
  margin: 0;

  width: 100%;

  border-radius: 0;

  margin-top: 30px;
}

.swal-text {
  text-align: center;
  direction: rtl;
  margin: 30px;
}

.close-sweet-alert-btn {
  background: #eee;

  border-radius: 0;

  width: 100%;

  color: #555;

  transition: 200ms;

  outline: none;
}

.swal-button:not([disabled]):hover {
  background-color: #279b41;
}

.close-sweet-alert-btn:hover {
  background-color: #ddd !important;
}

.swal-footer {
  text-align: center;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .custom-sweet-alert {
    border-radius: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .swal-footer {
    padding: 0;

    margin: 0;

    width: 100%;

    left: 0;

    position: absolute;

    bottom: 0;
  }
}
