
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1.5em;
    font-family: IRANSans, sans-serif;
    font-size: 14px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, svg {
    width: 100%;
}

a, a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
    transition: 300ms;
}

th, td {
    padding: 7px;
    text-align: right;
}

.owl-carousel{
    direction: ltr;
}
.owl-carousel img{
    border-radius: 3px;
}
.profile-menu-header {
    padding: 11px;
    padding-left: 55px;
}

.profile-menu-header a {
    position: relative;
    color: #fff;
}

.profile-menu-header i {
    position: absolute;

    left: -75px;

    top: 18px;

    font-size: 20px;
}

.image-header-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}
.image-header-profile img{
    height: 100%;
   
}

.name-header-profile {
    position: relative;
    top: 18px;
    left: 10px;
}

.header-nav {
    direction: rtl;
    text-align: right;
    padding: 28px 30px;
    font-size: 17px;
}

.header-nav a {
    color: #d0d0d0;
}

.header-nav a:hover {
    color: #fff;
}

.profile-list {
    position: absolute;
    width: 165px;
    background: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px #313a43;
    text-align: right;
    left: 40px;
    top: 65px;
    display: none;
    z-index: 999;
}

.profile-list li {
    margin: 5px;
}

.profile-list a {
    width: 100%;
    display: inline-block;
    color: #3c3c3c;
}

#header {
    background: url("../../img/topheader.jpg");
    background-position: 50% 30%;
    color: #fff;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 30px;
}

.title-page {
    text-align: center;
    margin: -10px auto 90px;
}
.des{
    margin: 20px 0;

    padding: 20px 0;

    border-bottom: 1px solid #ededed;
}
.title-content{
    font-size: 16px;

    font-weight: bold;

    margin: 15px 0;
}
.wrapper_no_pic{
    text-align: center;
    font-size: 23px;
    padding: 15px 0;
    border: 5px dashed;
    border-radius: 4px;
}
.wrapper_no_pro{
    text-align: center;
    font-size: 23px;
    padding: 15px 0;
}

.content_no_pic{
    font-size: 70px;
    margin: 20px auto;
    color: #555;
}
.text_no_pic{
    margin: 30px auto;
}

.search-box {
    position: relative;
    margin-top: 14px;
}

.search-box input {
    width: 100%;
    text-align: right;
    direction: rtl;
    border: 1px solid #666666;
    border-radius: 6px;
    padding: 10px 40px 9px 15px;
    background: #f8f8f8;
    font-size: 12px;
}

.search-box button {
    background: none;
    border: none;
    position: absolute;
    right: 21px;
    top: 8px;
    border-left: 1px solid;
    color: #666;
}

.right-sidebar > div {
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: block;
    margin-top: -64px;
    padding: 8px 15px;
    border-radius: 0 0 5px 5px;
}

.title-sidebar {
    font-size: 23px;
    font-weight: bold;
    color: #4c5058;
    text-align: center;
    margin: 15px auto;
}

.box-sidebar {
    text-align: center;
    direction: rtl;
    margin-bottom: 30px;

}

.content-sidebar {
    margin: 50px auto;
}

.content-sidebar i {
    margin-left: 5px;
    font-size: 17px;
}

.box-sidebar select {
    border-radius: 3px;
    border: 1px solid #4c5058;
    width: 80%;
    padding: 5px 15px;
}
.main-content{
    padding: 0 11px;
}
.main-content-item {
    direction: rtl;
    overflow: hidden;
    margin: -100px auto 24px;
    border-radius: 5px;
    box-shadow: 0 0 5px #cfcfcf;
    padding: 15px 0;
    background: #fff;
}

.main-article-title {
    margin: 0 auto 15px;
    font-weight: bold;
}

.main-article-title a {
    color: #4c5058;
}

.main-article-title a:hover {
    color: #444;
}

.main-article-content {
    padding: 0;
    padding-right: 25px;
    padding-top: 15px;
}

.main-article-content p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
}

.main-article-content p span {
    font-weight: normal;
}

.image-article-content {
    padding: 0;
    padding-top: 10px;
}

.image-article-content a:hover img {
    filter: grayscale(0);
    transition: 300ms;
}

.image-article-content img {
    transition: 300ms;
    filter: grayscale(40%);
}

.user-contents {
    border-right: 2px solid #f0f3f6;
    text-align: right;
    padding: 0 20px;
}
.user-contents h1{
    padding: 14px 0;
}
.title_content{
    border-bottom: 1px solid;
}
.info-section{
    color: #fff;
    background: #3a3c39;
    padding: 15px;
    font-size: 17px;
}
.contents-info-num{
    color: #28a745;
}
.sub-header {
    background: #ededed;
    text-align: center;
}
.sub-header ul {
    text-align: center;
}
.sub-header a {
    padding: 16px;
    display: inline-block;
    color: #808c9b;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}
.sub-header a:hover {
    color: #313942;
}

.sub-header li.active a{
    color: #313942;
}
.sub-header li.active a::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}

.sub-header a:hover::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}
.sub-header a.active {
    color: #313942;
}
.sub-header a.active::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}
.user-contents p{
    margin: 14px auto;
    font-size: 16px;
    font-weight: 800;
}
.user-contents p span{
    color: #767676;
    font-weight: 400;
}

.user-image {
    width: 135px;
    height: 135px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 10px;

}
.user-image img,.user-image > div{
    height: 100%;
}
.article-contents{
    padding: 20px 15px;
    border-bottom: 2px solid #f9f9f9;
}
.article-contents:last-of-type{
    border-bottom: none;
}
.green_bot {
    margin: 15px 0;
    display: inline-block;
    background: #28a745;
    color: #fff;
    padding: 10px 0;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    width: 100%;
    line-height: 21px;
    border: none;
}
.green_bot:hover {
    background: #279b41;
    color: #fff;
}
.back_page{
    float: left;
    padding: 0;
}
.content_title{
    float: right;
}
.sidebar-fix{
    position: fixed;
    right: 0;
    top: 64px;
    z-index: 2;
}
.header-content{
    padding: 20px 15px;
}
.image_user_wrapper{
    float: right;
}
.logo{
    padding: 10px ;

}
.logo img{
    width: 150px;
}
@media screen and (max-width: 992px) {


    .title-page {

        text-align: center;
        margin: -10px auto 95px;

    }
}

@media screen and (max-width: 768px) {
    .logo img{
        width: 100%;
    }
    .user-contents {
        border-right:none;
    }
    .user-contents h1{
        float: none;
        text-align: center;
        overflow: hidden;
    }
    .content_user_info{
        text-align: center;
        margin-bottom: 10px;
    }
    .info-section {
        text-align: center;

    }
}

@media screen and (max-width: 715px) {
    .name-header-profile{
        display: none;
    }
    .profile-menu-header i {
        position: absolute;
        left: -75px;
        top: 22px;
        font-size: 20px;
    }
}

@media screen and (max-width: 555px) {
    .logo {
        padding: 20px 0;
    }
}
@media screen and (max-width: 345px) {

}