*{
  margin: 0;
  padding: 0;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: IRANSans,sans-serif;
  word-wrap: break-word;
}
.h1, h1 {
  font-size: 36px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.navbar-nav > li > a {
  padding: initial;
  border: none;
  line-height: 20px;
}
.padding-0{
  padding: 0;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
button
{
  line-height: 24px;
}
img, svg {
  width: 100%;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-right: auto; 
  margin-left: auto;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.user-auth-info-wrapper {
    margin-top: 6px;
    margin-left: 10px;
    float: left;
  }
  .user-auth-info-wrapper > ul {
    margin: 0;
  }
  
.info_user_wrapper_mobile .green-button,
.back_page .green-button {
  margin: 3px 0;
  padding: 4px 0;
}

.owl-carousel {
  direction: ltr;
}

.owl-carousel img {
  border-radius: 3px;
}

.filter-mobile-sidebar .box-sidebar i {
  text-align: center;
  top: 0;
  right: 3px;
}

.filter-mobile-sidebar .box-sidebar select {
  width: calc(100% - 45px);
}

.box-sidebar select {
  border-radius: 3px;
  border: 1px solid #4c5058;
  width: 80%;
  padding: 5px 15px;
}

.profile-main-content-item {
  direction: rtl;
  float: right;
  width: 100%;
  margin: -100px auto 24px;
  border-radius: 5px;
  box-shadow: 0 0 5px #cfcfcf;
  padding: 15px;
  background: #fff;
}

.main-article-title {
  margin: 0 auto 15px;
  font-weight: bold;
}

.main-article-title a {
  color: #4c5058;
}

.main-article-title a:hover {
  color: #444;
}

.main-article-content {
  padding: 0;
  padding-right: 25px;
  padding-top: 15px;
}

.main-article-content p {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
}

.main-article-content p span {
  font-weight: normal;
}

.image-article-content {
  padding: 0;
  padding-top: 10px;
  float: right;
}

.image-article-content a:hover img {
  transition: 300ms;
}

.image-article-content img {
  transition: 300ms;
}

.main-image > div {
  display: none;
}

.main-image > div:first-of-type {
  display: block;
}

.user-contents {
  border-right: 2px solid #f0f3f6;
  text-align: right;
  padding-right: 15px;
}

.user-contents h1 {
  padding: 14px 0;
  border-bottom: 1px solid #ededed;
}

.title_content {
  padding: 0;
}

.title_content:last-of-type {
  border-bottom: none;
}
.title-page {
  text-align: center;
  margin: -10px auto 90px;
  position: relative;
  z-index: 10;
  font-size: 30px;
  font-weight: 700;
}
.info-section {
  color: #fff;
  background: #3a3c39;
  padding: 15px;
  font-size: 17px;
}

.info_user_wrapper_mobile .col-xs-6 {
  font-size: 10px;
}

.info_user_wrapper_mobile .info-num {
  font-size: 18px;
}

.contents-info-num {
  color: #00c569;
}

.contents-info p {
  font-size: 15px;
  padding-top: 6px;
}

.sub-header {
  background: #ededed;
  text-align: center;
  padding: 0;
}

.sub-header button:hover {
  color: #313942;
}

.sub-header button:hover::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #00c569;
  height: 3px;
  width: 100%;
}

.sub-header .active button {
  color: #313942;
}

.sub-header .active button::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #00c569;
  height: 3px;
  width: 100%;
}

.sub-header > div {
  border-top: 1px solid #ededed;
  padding: 0;
}

.sub-header > div.active {
  background: #fff;
}

.sub-header ul {
  text-align: center;
}

.sub-header button i {
  font-size: 18px;
  position: relative;
  right: -3px;
  display: inline-block;
  width: 20px;
  height: 25px;
  top: 1px;
}

.inside-links {
  display: inline-block;

  position: relative;
}

.inside-links.buskool-icon > span {
  top: -4px;
  position: relative;
}

.sub-header button {
  padding: 12px 0 14px;
  color: #808c9b;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  display: block;
  background: none;
  border: none;
  margin: 0;
  line-height: 1;
  width: 100%;
}
.content_user_info {
  margin-top: 14px;
}

.user-contents p {
  font-size: 16px;
  font-weight: 800;
}

.user-contents p span {
  color: #767676;
  font-weight: 400;
}

.user-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 10px;
}
.user-image div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #dddddd;
}

.user-image-content {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 7px 5px 7px 20px;
  float: right;
}

.content_title_mobile {
  float: right;
  padding-top: 23px;
  font-size: 12px;
  font-weight: bold;
}

.zone_content_title {
  font-size: 12px;

  font-weight: lighter;

  color: #989898;

  border-right: 1px solid;

  margin: 0 5px;

  padding: 0 5px;

  height: 16px;

  display: inline-block;
}

.user-image img,
.user-image > div,
.user-image-content img,
.user-image-content > div {
  height: 100%;
}

.content_title {
  float: right;
}
.content_title span:first-of-type {
  display: inline-block;
}
.sidebar-fix {
  position: fixed;
  right: 0;
  top: 64px;
  z-index: 2;
}

.header-content {
  padding: 0 0 20px 0;
}

.image_user_wrapper {
  float: right;
  padding: 0;
}

.logo {
  padding: 10px;
  text-align: right;
  float: right;
  width: 190px;
}

.logo img {
  width: 150px;
}

.image-wrapper {
  height: 300px;
  overflow: hidden;
}

.btn {
  margin: 3px 0;
  padding: 4px 0;
}

button.btn-copy {
  width: 100%;
  background: #f0f0f0;
}
button.btn-copy > span.icon-wrapper {
  display: inline-block;
  max-width: 12px;
}

.content_user_wrapper_mobile {
  border-top: 1px solid #eee;
  margin-top: 10px;
}

p.response-rate {
  color: #777;
  font-size: 12px;
  margin: 7px auto 0;
  padding: 0;
}

p.response-rate span {
  color: #e41c38;
}

.profile-header {
  background: url("../../img/topheader.jpg");
  background-position: 50% 30%;
  color: #fff;
  background-size: cover;
  overflow: hidden;
  padding: 140px 0 65px;
}

.main-content-index-pages h1,
.main-content-index-pages h2,
.main-content-index-pages h3,
.main-content-index-pages h4,
.main-content-index-pages h5 {
  margin: 15px 0;
}

/* #wrap-footer {
  display: none;
} */
.back_page.first-back a {
  margin-top: 24px;
  margin-bottom: 50px;
}
.back_page.first-back {
  padding: 0;
}

.profile-main-content-item {
  box-shadow: none;
}

.valid-seller {
  font-size: 14px;

  color: #00c569;

  border: 2px solid;

  border-radius: 3px;

  padding: 4px 8px 3px;

  position: relative;
  display: inline-block;
  top: -3px;
}

.description {
  padding: 0 15px;
  text-align: right;
  white-space: pre-wrap;
  line-height: 1.618;
}

.profile-rating-box-wrapper {
  padding-left: 10px;
}

.profile-rating-box {
  border: 1px solid #f6f6f6;
  border-radius: 4px;
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
  overflow: hidden;
}
.stars-wrapper {
  padding-right: 2px;
}
.rating-stars {
  width: calc(100% - 40px);
  padding: 7px 0 0;
  text-align: center;
}
.rating-stars p > span {
  position: relative;
  display: inline-block;
}
.rating-stars p > span i {
  position: absolute;
  left: 2px;
  font-size: 20px;
  z-index: 0;
  top: -4px;
  color: #bdc4cc;
}
.rating-stars p > span > span {
  display: block;
  position: relative;
  z-index: 1;
  font-size: 13px;
  width: 18px;
  text-align: center;
  margin-left: 5px;
  color: #777;
}
.rating-stars .review-count-wrapper {
  margin-top: 7px;
  color: #556080;
}
.rating-score {
  width: 40px;
  background: #f6f6f6;
  height: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 22px;
  font-weight: bold;
  color: #556080;
}

.header-reviews {
  margin: 30px auto;
}

.header-reviews .actions {
  background: #f6fbff;
  max-width: 600px;
  padding: 1px 15px;
  border-radius: 5px;
  margin: 0 auto;
}

.empty-actions a.green-button {
  width: initial;
}
.product-carousel{
  padding: 0 7px;

}
.carousel-title h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 9px;
}
.carousel-img {
  height: 135px;
  overflow: hidden;
  position: relative;
  display: block;
}
.main-content-item{
  direction: rtl;
  margin: 15px auto;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  padding: 0;
  background: #fff;
  float: right;
  width: 100%;
  overflow: hidden;
}
.box-content {
  overflow: hidden;
  background: #fff;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  min-height: 212px;
}
.carousel-img {
  height: 135px;
  overflow: hidden;
  position: relative;
  display: block;
}
.grid-list {
padding: 0 3px;
}
.carousel-img {
  height: 135px;
  overflow: hidden;
  position: relative;
  display: block;
}

.main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 300ms;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transition: 150ms;
}
.main-image-load {
  opacity: 1;
}

.carousel-title {
  font-size: 16px;
  direction: rtl;
  font-weight: bold;
  color: #4b4b4b;
}
.stock-wrapper {
  font-size: 14px;
  direction: rtl;
  font-weight: bold;
  color: #00c569;
  margin-bottom: 5px;
  display: inline-block;
}
.grid-list .main-content-item{
  height: 250px;
}
.add-review {
  background: #556080;
  border: none;
  color: #fff;
  padding: 8px 65px;
  font-size: 18px;
  border-radius: 4px;
}

.description-wrapper {
  margin-bottom: 20px;
}

.title-content {
  margin: 7px 0 20px;
  padding: 15px;
  border-bottom: 1px solid #ededed;
}
.empty-reviews {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #777;
  margin: 40px auto;
}
.image-wrapper {
  height: 300px;
  overflow: hidden;
}
.login-empty-reviews {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #777;
  margin: 40px auto;
  max-width: 600px;
  background: #f6fbff;
  padding: 1px 15px 30px;
}

.empty-reviews > span {
  display: block;
  font-size: 70px;
  color: #dbdbdb;
  margin: 20px auto;
}

.verified-user {
  position: relative;
  display: inline-block;
  overflow: initial !important;
  background: none;
  border: none;
  font-size: 18px;
  color: #1da1f2;
  top: 1px;
  line-height: 1.3;
  font-weight: 900;
  padding: 0;
}

.verified-user::before {
  content: "\F00C";
  position: absolute;
  left: 5px;
  font-family: "Font Awesome 5 Free";
  color: #fff;
  top: 4px;
  font-size: 12px;
  z-index: 1;
  line-height: 1;
  font-weight: 900;
}

.verified-user::before {
  top: 3px;
  left: 3px;
}
.back_page.first-back a {
  background: #000546;
}

.back_page.first-back a:hover {
  background: #000461 !important;
}
/* products placeholder styles */
.shadow-content {
  background: #fff;
}

.default-article-contents {
  direction: initial;
}

.deleted-reviews {
  margin-top: 15px;
}

@media screen and (max-width: 370px) {
  .mobile-hidden {
    display: none;
  }
  .default-wrapper-main-image {
    width: 90px;

    height: 90px;
  }
  .default-main-article-content {
    width: calc(100% - 90px);
  }
  .default-button-min-with {
    width: 100%;
  }
}

@media screen and (min-width: 370px) {
  .hidden-afetr-mobile-hidden {
    display: none;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .title-page {
    text-align: center;
    margin: -10px auto 95px;
  }
  button.btn-copy {
    box-shadow: unset;
    border: 0;
  }
  .search-input{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .profile-list {
    left: 40px;
    top: 80px;
  }
  .sub-header {
    position: unset!important;
  }
  #main {
    padding-top: 0!important;
}
  .profile-main-content-item {
    padding: 0;
    margin: 63px auto 24px;
  }

  .header-content {
    padding: 0 15px 15px;
  }

  .content_user_wrapper_mobile {
    padding: 0;
  }

  .main-article-content {
    padding: 15px;
  }

  .ceteficate-image {
    height: 374px;
    overflow: hidden;
  }

  .image-article-content {
    width: 100%;
  }

  .cerificates,
  .ceteficate-image,
  .contents,
  .main-image,
  .article-contents {
    padding: 0;
  }

  #main .contents {
    background: #fff;
    width: 100%;
  }

  .logo img {
    width: 100%;
  }

  .user-contents {
    border-right: none;
  }

  .user-contents h1 {
    float: none;

    text-align: right;

    overflow: hidden;

    font-size: 18px;
    padding: 15px 0;
  }

  .user-contents p {
    font-size: 14px;
    font-weight: 800;
  }

  .content_user_info {
    text-align: right;
    margin-bottom: 10px;
    padding: 0;
  }

  .title_content {
    border-bottom: none;
  }

  .info-section {
    text-align: center;
  }

  .user-image {
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 10px;
  }

  .back_page {
    display: none;
  }

  .main-content,
  #main {
    padding: 0;
    padding-top: 10px;
  }

  .ceteficate-image {
    height: 250px;
    overflow: hidden;
  }
}

@media screen and (max-width: 715px) {
  .name-header-profile {
    display: none;
  }

  .ceteficate-image {
    height: 200px;
    overflow: hidden;
  }

  .profile-menu-header i {
    position: absolute;
    left: -75px;
    top: 22px;
    font-size: 20px;
  }
}

@media screen and (max-width: 555px) {
  .logo {
    padding: 20px 0;
  }
}

@media screen and (max-width: 345px) {
}

@media screen and (max-width: 767px) {
  .valid-seller {
    font-size: 12px;
  }

  .user-contents {
    padding: 0 15px;
  }

  .user-contents .user-image {
    float: right;
  }

  .user-contents p {
    font-size: 14px;
    font-weight: 800;
  }

  .user-contents .green-button {
    float: left;
    width: initial;
    padding: 15px;
  }

  .contents > .row {
    margin: 0;
  }

  p.response-rate {
    color: #777;
    font-size: 12px;
    margin: 7px auto 0;
    padding: 0;
    width: 100%;
  }

  p.response-rate span {
    color: #e41c38;
  }
}

@media screen and (max-width: 500px) {
  .user-contents .user-image {
    width: 50px;
    height: 50px;
  }

  .user-contents .green-button {
    width: initial;
  }
}

.green-button {
  margin: 15px 0 0;
  display: inline-block;
  background: #00c569;
  color: #fff;
  padding: 10px 35px;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
  border: none;
}
.green-button.review-button {
  display: inline;

  margin: 0;

  padding: 3px 30px;

  width: initial;

  position: relative;

  top: -5px;

  float: none;
}

.review-button i {
  color: #ffbb00;
}
.placeholder-stars {
  text-align: center;
  padding: 11px;
  font-size: 17px;
  color: #aaa;
}

.placeholder-stars span {
  margin: 0 3px;
}