

/*start style main header*/
#main {
    margin-right: 250px;
    margin-top: 65px;
    background: #eff3f6;
}

#main.little-main {
    margin-right: 80px;
}

.main-header {
    height: 68px;
    position: fixed;
    left: 0;
    right: 250px;
    top: 0;
    background: #fff;
    z-index: 5;
    border-bottom: 2px solid #e6e6e6;
}

.image-header-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}
.image-header-profile  img{
    height: 100%;
}
.profile-menu-header {
    float: left;
}

.right-menu-header {

    padding: 16px;
}

.right-menu-header, .content-header {
    float: right;

}

.profile-menu-header {
    padding: 12px;
    padding-left: 55px;
}

.profile-menu-header a {
    position: relative;
}

.profile-menu-header i {
    position: absolute;

    left: -75px;

    top: 18px;

    font-size: 20px;
}


.content-header {
    background: #28a745;
    color: #fff;
    height: 100%;
    padding:16px 20px 0;
}

.right-menu-header a, .profile-menu-header a {
    color: #7f8c9b;
    margin: 5px;
}

.right-menu-header a {
    font-size: 30px;
}

.right-menu-header a:hover, .profile-menu-header a:hover {
    color: #2e353e;
}

.name-header-profile {
    position: relative;
    top: 18px;
    left: 10px;
}

.profile-list {
    position: absolute;
    width: 165px;
    background: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px #313a43;
    text-align: right;
    left: 40px;
    top: 65px;
    display: none;
    z-index: 999;
}

.profile-list li {
    margin: 5px;
}

.profile-list a {
    width: 100%;
    display: inline-block;
}

/*end style main header*/

/*start style sub-header*/
.sub-header {
    position: absolute;
    left: 0;
    background: #eff3f6;
    top: 63px;
    right: 0;
    text-align: center;
}

.sub-header ul {
    text-align: center;
}

.sub-header a {
    padding: 16px;

    display: inline-block;

    color: #808c9b;

    font-weight: bold;

    font-size: 14px;

    position: relative;
}

.sub-header a:hover {
    color: #313942;
}

.sub-header a:hover::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}
.sub-header a.active {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}
.sub-header a.active {
    color: #313942;
}
.sub-header a.active::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}
/*end style sub-header*/
/*start main content style */
.image-content-post {
    width: 30%;
    float: right;
    position: relative;
}

.image-content-post img {
    border-radius: 3px;
    transition: 200ms;
    filter: grayscale(30%);
}

.image-content-post a:hover img {
    filter: grayscale(0);
    transition: 200ms;
}

.image-content-post i {
    display: none;
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 35px;
    color: #fff;
    z-index: 1;

}

.image-content-post a:hover i {
    display: block;
}

.content-item {
    overflow: hidden;
    text-align: right;
    direction: rtl;
}

.main-content {
    padding: 60px 100px;
}

.header-lable {
    display: block;
    margin: 13px;
    padding: 0;
}
.content-lable{
    font-weight:400 ;
}

/*end main content style */
/*custom cods*/
.green-bot {
    margin: 15px 0;
    display: inline-block;
    background: #28a745;
    color: #fff;
    padding: 10px 35px;
    border-radius: 3px;
    text-align: center;
    border: none;
    transition: 300ms;
}
.black-bot {
    margin: 15px 0;
    display: inline-block;
    background: #313a43;
    color: #fff;
    padding: 10px 35px;
    border-radius: 3px;
    text-align: center;
    border: none;
    transition: 300ms;
}
.black-bot:hover {

    background: #283039;
    color: #fff;
    transition: 300ms;
}

.green-bot:hover {
    color: #fff;
    background: #00d614;
    transition: 300ms;

}

.botton-inco {
    margin: 15px 7px;
    display: inline-block;
    color: #313a43;
    padding: 8px 35px;
    border-radius: 3px;
    text-align: center;
}

.botton-inco:hover {
    color: #fff;
}

.font-big {
    font-size: 23px;
    position: relative;
    top: 3px;
}

.little_header {
    width: 80px;
}

.little-main-header {
    right: 80px;
}

.background_mob_sec {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    display: none;
}

.contents {
    border-radius: 3px;
    box-shadow: 0 0 10px #e1e1e1;
    padding: 15px ;
    margin-top: 50px;
}
.user-info{
    border-bottom: 2px solid #eff3f6;
    padding: 0 0 10px;
}
.user_image {
    overflow: hidden;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    padding: 0;
    float: right;
    text-align: center;
}
.user_image img{
    height: 100%;
}
.info-contents{
    padding: 0;
}
.image-article-content{
    padding-right: 0;
}
.main-article-content{
    padding-left: 0;
    margin-bottom: 25px;
}
.main-image{
    margin-bottom: 7px;
    padding: 0;
}
.main-article-content a{
    font-size: 24px;
    margin-bottom: 20px;
    display: inline-block;
    color: #666;
}
.main-image img{
    border-radius: 3px;
}
.image_company{
    margin: 15px auto ;

}
.top-contentas{
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom:2px solid #ddd;
}
.bottom-contents{
    padding: 0;
    padding-top: 10px;
    margin-top: 10px;

}
.fields{
    margin: 7px auto;
    padding: 0;
}
.fields > div{
  float: right;
}
.fields  div textarea{
    height: 110px;
    max-height: 110px;
    min-height: 110px;
    max-width: 100%;
    min-width: 100%;
}
.fields .green-bot,.fields .black-bot{
    width: 100%;
}


@media screen and (max-width: 992px) {
    .right-header.desktop-header {
        display: none;
    }
    .actions{
        direction: ltr;
        margin-top: 20px;
    }
    .right-header.mobile-header {
        display: block;
        right: -300px;
    }

    .main-header, .little-main-header {
        right: 0 !important;
    }

    #main, #main.little-main {
        margin-right: 0 !important;
    }

    .post-contents-table {
        width: 100%;
    }

    .copy-right {
        display: none;
    }

    .clouse_menu {
        display: none;
    }

    .clouse_menu_mob {
        display: block;
    }

    .show-header button {
        display: block;
    }

    .kind_user > div, .kind_activity > div {
        float: none;

    }

    .img-profile .submit {
        position: relative;
        width: 100%;
        margin: 25px auto;

    }

    .img-profile .submit label {
        width: 40%;
        padding: 12px 0;
    }

    .img-profile {
        float: none;
    }
}

/*custom style callander*/
#bd-main-first-date-id {
    top: 37px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    left: 0;
    z-index: 1;
}
.bd-dropdown{
    position: relative;

}
.first-date-id{
    font-family: iranyekan, sans-serif;
}
select#bd-month-first-date-id option {
    direction: rtl;
    text-indent:5px;
}
#bd-main-first-date-id input, #bd-main-first-date-id select {
    padding: 0 0;
    font-size: 16px;
    color: #222;
    text-align: center;
}

#bd-year-first-date-id {
    background: none;
    direction: ltr;
}

#bd-month-first-date-id {
    background: none;
    top: 0;
    direction: ltr;
}

#bd-prev-first-date-id {
    font-family: "FontAwesome", sans-serif;
    font-size: 41px;
    text-align: center;
    position: absolute;
    left: -80px;
    bottom: 110px;
    padding: 0;
    width: 55px;
    height: 55px;
    padding-right: 6px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    transition: 300ms;
    color: #fff;

}

#bd-next-first-date-id {
    font-family: "FontAwesome", sans-serif;
    font-size: 41px;
    text-align: center;
    position: absolute;
    right: -80px;
    bottom: 110px;
    padding: 0;
    padding-left: 6px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    transition: 300ms;
    color: #fff;
}
#bd-next-first-date-id:hover,#bd-prev-first-date-id:hover{
    background: rgba(0,0,0,0.7);
    transition: 300ms;
}

.bd-table thead tr, .bd-goto-today {
    background: #28a745;
}
.bd-dropdown{
    width: 50%;
}

.date span:hover,.tags span:hover ,.time span:hover{
    cursor: pointer;
}
.bd-calendar, .bd-title {
    margin: 0;
    overflow: hidden;
}

#bd-main-end-date-id {
    top: 37px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    left: 0;
}
.bd-dropdown{
    position: relative;

}
.end-date-id{
    font-family: iranyekan, sans-serif;
}
select#bd-month-end-date-id option {
    direction: rtl;
    text-indent:5px;
}
#bd-main-end-date-id input, #bd-main-end-date-id select {
    padding: 0 0;
    font-size: 16px;
    color: #222;
    text-align: center;
}

#bd-year-end-date-id {
    background: none;
    direction: ltr;
}

#bd-month-end-date-id {
    background: none;
    top: 0;
    direction: ltr;
}

#bd-prev-end-date-id {
    font-family: "FontAwesome", sans-serif;
    font-size: 41px;
    text-align: center;
    position: absolute;
    left: -80px;
    bottom: 110px;
    padding: 0;
    width: 55px;
    height: 55px;
    padding-right: 6px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    transition: 300ms;
    color: #fff;

}

#bd-next-end-date-id {
    font-family: "FontAwesome", sans-serif;
    font-size: 41px;
    text-align: center;
    position: absolute;
    right: -80px;
    bottom: 110px;
    padding: 0;
    padding-left: 6px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    transition: 300ms;
    color: #fff;
}
#bd-next-end-date-id:hover,#bd-prev-end-date-id:hover{
    background: rgba(0,0,0,0.7);
    transition: 300ms;
}

.bd-table thead tr, .bd-goto-today {
    background: #28a745;
}
.bd-dropdown{
    width: 50%;
}

.date span:hover,.tags span:hover ,.time span:hover{
    cursor: pointer;
}
.bd-calendar, .bd-title {
    margin: 0;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .fields > div{
        float: none;
    }
    .image-content-post, .contents-post {
        width: 100%;
        float: none;
        margin: 10px 0;
        padding: 0;
    }

    .main-content {
        padding: 60px 15px;
    }

    .name-header-profile {
        display: none;
    }

    .profile-menu-header {
        padding: 7px;
        padding-left: 36px;
    }


    #bd-prev-end-date-id, #bd-prev-first-date-id  {
        left: 0;
        bottom: inherit;
        top:-55px;
    }

    #bd-next-end-date-id , #bd-next-first-date-id{
        right: 0;
        bottom: inherit;
        top:-55px;
    }
    .imageuploadify-message{
        display: none !important;
    }


}

@media screen and (max-width: 555px) {
    .content-header {
        display: none;
    }

}

@media screen and (max-width: 345px) {
    .sub-header a {
        font-size: 10px;

    }

    .sub-header {
        bottom: -44px;
    }
}