
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12{
    float: right;
}
/*start style main header*/
#main {
    margin-right: 250px;
    margin-top: 65px;
    background: #eff3f6;
}

#main.little-main {
    margin-right: 80px;
}

.main-header {
    height: 65px;
    position: fixed;
    left: 0;
    right: 250px;
    top: 0;
    background: #fff;
    z-index: 5;
    border-bottom: 2px solid #e6e6e6;
}

.image-header-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}

.profile-menu-header {
    float: left;
}

.right-menu-header {

    padding: 16px;
}

.right-menu-header, .content-header {
    float: right;

}

.profile-menu-header {
    padding: 7px;
    padding-left: 55px;
}

.profile-menu-header a {
    position: relative;
}

.profile-menu-header i {
    position: absolute;

    left: -75px;

    top: 18px;

    font-size: 20px;
}

.content-header {
    background: #28a745;
    color: #fff;
    height: 100%;
    padding: 20px 20px 0;
}

.right-menu-header a, .profile-menu-header a {
    color: #7f8c9b;
    margin: 5px;
}

.right-menu-header a {
    font-size: 30px;
}

.right-menu-header a:hover, .profile-menu-header a:hover {
    color: #2e353e;
}

.name-header-profile {
    position: relative;
    top: 18px;
    left: 10px;
}

.profile-list {
    position: absolute;
    width: 165px;
    background: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px #313a43;
    text-align: right;
    left: 40px;
    top: 65px;
    display: none;
    z-index: 999;
}

.profile-list li {
    margin: 5px;
}

.profile-list a {
    width: 100%;
    display: inline-block;
}

/*end style main header*/

/*start style sub-header*/
.sub-header {
    position: absolute;
    left: 0;
    background: #eff3f6;
    bottom: -48px;
    right: 0;
    text-align: center;
}

.sub-header ul {
    text-align: center;
}

.sub-header a {
    padding: 16px;

    display: inline-block;

    color: #808c9b;

    font-weight: bold;

    font-size: 14px;

    position: relative;
}

.sub-header a:hover {
    color: #313942;
}

.sub-header a:hover::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}

/*end style sub-header*/
/*start main content style */
.image-content-post {
    width: 30%;
    float: right;
    position: relative;
}

.image-content-post img {
    border-radius: 3px;
    transition: 200ms;
    filter: grayscale(30%);
}

.image-content-post a:hover img {
    filter: grayscale(0);
    transition: 200ms;
}

.image-content-post i {
    display: none;
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 35px;
    color: #fff;
    z-index: 1;

}

.image-content-post a:hover i {
    display: block;
}

.content-item {
    overflow: hidden;
    text-align: right;
    direction: rtl;
}

.main-content {
    padding: 60px 15px;
}

.header-lable {
    display: block;
    margin: 13px;
    padding: 0;
}

/*end main content style */
/*custom cods*/
.green-bot {
    margin: 15px 0;
    display: inline-block;
    background: #28a745;
    color: #fff;
    padding: 10px 35px;
    border-radius: 3px;
    text-align: center;
    border: none;
    transition: 300ms;
}
.green-text {
    color: #28a745;

}
.green-bot:focus,.gray-bot:focus {
    color: #fff;
}
.default_btn{
    margin: 15px 0;
    display: inline-block;
    background: #eee;
    color: #444;
    padding: 10px 35px;
    border-radius: 3px;
    text-align: center;
    border: none;
    transition: 300ms;
}
.gray-bot {
    margin: 15px 0;
    display: inline-block;
    background: #85888d;
    color: #fff;
    padding: 10px 35px;
    border-radius: 3px;
    text-align: center;
    border: none;
    transition: 300ms;
}
.default_btn:hover {
    color: #444;
    background: #ddd;
    transition: 300ms;
}
.green-bot:hover {
    color: #fff;
    background: #00d614;
    transition: 300ms;

}
.gray-bot:hover {
    color: #fff;
    background: #72757a;
    transition: 300ms;

}

.botton-inco {
    margin: 15px 7px;
    display: inline-block;
    color: #313a43;
    padding: 8px 35px;
    border-radius: 3px;
    text-align: center;
}

.botton-inco:hover {
    color: #fff;
}

.font-big {
    font-size: 23px;
    position: relative;
    top: 3px;
}

.little_header {
    width: 80px;
}

.little-main-header {
    right: 80px;
}

.background_mob_sec {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    display: none;
}

.kind_user, .kind_activity {
    margin: 7px 0;
    border-bottom: 1px solid #eff3f6;
    padding-bottom: 10px;
}

.kind_user > div, .kind_activity > div {
    float: right;
    overflow: hidden;
    padding: 10px;
    font-size: 15px;
}

.kind_user input, .kind_activity input {
    cursor: pointer;
    width: 23px;
    height: 23px;
    float: right;
    position: absolute;
    top: 2px;
    right: 65px;
    opacity: 0;
}

.kind_user input:checked + i, .kind_activity input:checked + i {
    color: #28a745;
}

.kind_user i, .kind_activity i {
    background: none;
    width: 23px;
    height: 23px;
    display: block;
    position: absolute;
    top: 4px;
    right: 65px;
    z-index: -1;
    color: #808c9c;
    border: 2px solid;
    border-radius: 50%;
    padding: 3px 2px;
    font-size: 14px;
}

.user-form {
    padding: 0;
}

.user-form input[type="text"] {
    width: 100%;
    border: 1px solid #e9e9e9;
    padding: 15px 20px;
    margin: 7px auto;
    border-radius: 4px;
    transition: 300ms;
}

.user-form input[type="button"] {
    width: 100%;

}

.user-form input[type="text"]:focus {
    border: 1px solid #28a745;
    transition: 500ms;
}

.img-profile {
    float: right;
}

#icon-pro {
    width: 150px;
    height: 150px;
    display: inline-block;
}

#icon-pro svg {
    height: 150px;
}
#main .contents{
    text-align: center;

    background: #f7f7f7;

    width: 80%;

    margin: 15px  auto;

    float: none;

    overflow: hidden;

    border-radius: 3px;

    line-height: 1.618;

    direction: rtl;
}
#main .contents p{
    text-align: right;
}
#main .contents h2{
    margin: 20px auto;
}
.factor-title{
    overflow: hidden;

    padding: 15px 0;

    border-bottom: 1px solid #bbb;
}
.contents-detail{
    margin: 20px auto;
    padding: 0;
}
.contents-detail > div{
    padding: 0;
}

#main .main_buttons{
    float: right;
}


/*part 2*/
.main-content-texts{
    background: #fff;

    border-radius: 3px;
}
.header-contents{
    background: #fff;
    margin: 15px auto;
    border-radius: 3px;
    padding: 10px;
    text-align: left;
}

.header-contents .title-contents{
   text-align: right;
}

.contents h2{
    font-size: 22px;
}
.description-text{
    font-size: 12px;
    padding: 5px 0;
    border-top:1px solid #ddd;

}
.services td {
    color: #00d613;
}

.pre-pay td {
    color: #e41c38;
}

@media screen and (max-width: 992px) {
    .right-header.desktop-header {
        display: none;
    }

    .right-header.mobile-header {
        display: block;
        right: -300px;
    }

    .main-header, .little-main-header {
        right: 0 !important;
    }

    #main, #main.little-main {
        margin-right: 0 !important;
    }

    .post-contents-table {
        width: 100%;
    }

    .copy-right {
        display: none;
    }

    .clouse_menu {
        display: none;
    }

    .clouse_menu_mob {
        display: block;
    }

    .show-header button {
        display: block;
    }

    .kind_user > div, .kind_activity > div {
        float: none;

    }

    .img-profile .submit {
        position: relative;
        width: 100%;
        margin: 25px auto;

    }

    .img-profile .submit label {
        width: 40%;
        padding: 12px 0;
    }

    .img-profile {
        float: none;
    }
}
#tex_rate{
    margin: 10px auto;
}
@media screen and (max-width: 768px) {
    .image-content-post, .contents-post {
        width: 100%;
        float: none;
        margin: 10px 0;
        padding: 0;
    }

    .name-header-profile {
        display: none;
    }

    .profile-menu-header {
        padding: 7px;
        padding-left: 36px;
    }
    #main .contents {
        width: 100%;
    }
}

@media screen and (max-width: 555px) {
    .content-header {
        display: none;
    }

}

@media screen and (max-width: 345px) {
    .sub-header a {
        font-size: 10px;

    }

    .sub-header {

        bottom: -44px;

    }
}