
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1.5em;
    font-family: IRANSans, sans-serif;
    font-size: 14px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, svg {
    width: 100%;
}

a, a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
    transition: 300ms;
}

th, td {
    padding: 7px;
    text-align: right;
}

.disabled {
    display: none;
}

.owl-carousel {
    direction: ltr;
}

.owl-carousel img {
    border-radius: 3px;
}

.image-header-profile img {
    height: 100%;

}

.header-nav {
    direction: rtl;
    text-align: right;
    padding: 20px 30px;
    font-size: 17px;
}

.header-nav a {
    color: #777;
}

.header-nav a:hover {
    color: #333;
}

.profile-list {
    position: absolute;
    width: 165px;
    background: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px #313a43;
    text-align: right;
    left: 40px;
    top: 65px;
    display: none;
    z-index: 999;
}

.profile-list li {
    margin: 5px;
}

.profile-list a {
    width: 100%;
    display: inline-block;
    color: #3c3c3c;
}

#header {
    background: url("../../../img/topheader.jpg");
    background-position: 50% 30%;
    color: #fff;
    background-size: cover;
    overflow: hidden;
    padding-top: 64px;
}

.title-page {
    text-align: center;

    margin: 65px auto;
}

.sub-header {
    background: #f0f3f6;
}

.search-box {
    position: relative;
    margin-top: 14px;
}

.search-box input {
    width: 100%;
    text-align: right;
    direction: rtl;
    border: 1px solid #666666;
    border-radius: 6px;
    padding: 10px 40px 9px 15px;
    background: #f8f8f8;
    font-size: 12px;
}

.search-box button {
    background: none;
    border: none;
    position: absolute;
    right: 21px;
    top: 8px;
    border-left: 1px solid;
    color: #666;
}

.links-sub-header {
    direction: rtl;
}

.links-sub-header a {
    padding: 25px 15px;
    display: inline-block;
    color: #808c9b;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}

.links-sub-header a:hover {
    color: #313942;
}

.links-sub-header a:hover:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}

.right-sidebar {
    float: right;
}

.right-sidebar > div {
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: block;
    margin-top: -64px;
    padding: 8px 15px;
    border-radius: 0 0 5px 5px;
}

.title-sidebar {
    font-size: 23px;
    font-weight: bold;
    color: #4c5058;
    text-align: center;
    margin: 15px auto;
}

.box-sidebar {
    text-align: center;
    direction: rtl;
    margin-bottom: 30px;

}

.content-sidebar {
    margin: 50px auto;
}

.content-sidebar i {
    margin-left: 5px;
    font-size: 17px;
}

.box-sidebar select {
    border-radius: 3px;
    border: 1px solid #4c5058;
    width: 80%;
    padding: 5px 15px;
}

.main-content {
    padding-bottom: 40px;
}

.main-content > h4 {
    margin: 30px auto;
}

.main-content-item {
    direction: rtl;
    float: left;
    width: 100%;
    margin: 24px auto;
    border-radius: 5px;
    box-shadow: 0 0 15px #dbdbdb;
    padding: 15px 0 0;
}

.main-article-title {
    margin: 15px auto;
    font-weight: bold;
}

.main-article-title a {
    color: #4c5058;
}

.main-article-title a:hover {
    color: #444;
}

.main-article-content {
    padding: 0 15px 20px;
}

.main-article-content p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
}

.main-article-content p span {
    font-weight: normal;
}

.image-article-content {
    padding: 0;
    padding-top: 10px;
    height: 240px;
    overflow: hidden;
    float: right;
}

.image-article-content img {
    height: 100%;
}

.image-wrapper img {
    transition: 300ms;
}

.btn-content {
    display: inline-block;
    margin: 0 auto;
}

.btn-content img, .btn-content span {
    float: right;
    margin: 0 5px;
}

.user-contents {
    border-right: 2px solid #f0f3f6;
    text-align: center;
    padding: 0 20px;
}

.create_buy {
    position: relative;
}

.create_buy_mobile a {
    margin: 0;
}

.buy_details {
    border-top: 2px solid #f0f3f6;
    padding: 15px;
    margin: 15px auto;
    display: none;
}

.buy_details > div {
    margin: 7px auto;
}

.user-image {
    width: 135px;
    height: 135px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.user-image img, .user-image > div {
    height: 100%;
}

.green_bot {
    margin: 5px 0;
    display: inline-block;
    background: #28a745;
    color: #fff;
    padding: 10px 0;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    width: 100%;
    line-height: 21px;
}

.green_bot:hover {
    background: #279b41;
    color: #fff;
    cursor: pointer;
}

.sub-header-fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.sidebar-fix {
    position: fixed;
    right: 0;
    top: 64px;
    z-index: 2;
}

.logo {
    text-align: right;
    float: right;
    width: 190px;
    padding-right: 15px;
}

.logo img {
    width: 150px;
}

li.active a {
    color: #313942;
}

li.active a::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}

.image-wrapper {

    height: 300px;
    overflow: hidden;

}

.main-image {
    float: right;

}

.load-more-button a {
    direction: rtl;
    color: #666;
    font-size: 18px;
    width: 100%;
    box-shadow: 0 0 5px #bfbfbf;
    background: #f0f3f6 !important;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    transition: 300ms;
    border: none;
    top: 0;
}

.load-more-button a:hover {
    top: -6px;
    color: #333333;
    box-shadow: 0 0 5px #a5a5a5;
    transition: 300ms;
    position: relative;
}

.btn-loader {
    height: 38px;

    overflow: hidden;
}

.btn-loader img {
    width: 56px;
    margin-top: -15px;
}

@media screen and (max-width: 992px) {

    .title-page {
        text-align: center;
    }

    .right-sidebar {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .main-image {
        padding: 0;
    }
    .sub-header {

        background: #f0f3f6;
        padding-top: 80px;

    }
    .links-sub-header {
        direction: rtl;
        text-align: center;
    }

    .logo img {
        width: 100%;
    }

    .user-image {
        float: right;

        width: 100px;

        height: 100px;
    }

    .user-contents > p {
        float: right;

        font-size: 18px;

        padding-top: 40px;

        padding-right: 20px;
    }

    .user-contents > .green_bot {
        float: left;

        width: initial;
        padding: 10px 25px;

        margin-top: 28px;
    }

    .create_buy {
        display: none;
    }
}

@media screen and (max-width: 715px) {
    .name-header-profile {
        display: none;
    }

    .profile-menu-header i {
        position: absolute;
        left: -75px;
        top: 22px;
        font-size: 20px;
    }
}

@media screen and (max-width: 555px) {
    .user-image {
        float: right;

        width: 60px;

        height: 60px;
    }

    .user-contents > .green_bot {

        float: left;
        width: initial;
        padding: 10px ;
        margin-top: 11px;

    }

    .user-contents > p {
        float: right;
        font-size: inherit;
        padding-top: 18px;
        padding-right: 5px;
    }

    .logo {
        padding: 6px 10px;
    }
}

@media screen and (max-width: 430px) {
    .logo {
        padding: 6px 63px;
        width: 100%;
        height: 109px;
    }

    .profile-menu-header {

        padding: 3px;
        padding-left: 3px;
        padding-left: 35px;
        float: left;

    }

    /*.user-contents > p {

        float: none;
        font-size: inherit;
        padding-top: 0;
        padding-right: 0;

    }
    .user-image {

        float: none;
        width: 60px;
        height: 60px;

    }
    .user-contents > .green_bot {

        float: none;
        width: initial;
        padding: 10px 17px;
        margin-top: 11px;

    }*/
}
