

/*start style main header*/
#main {
    margin-right: 250px;
    margin-top: 65px;
    background: #eff3f6;
}

#main.little-main {
    margin-right: 80px;
}

.main-header {
    height: 65px;
    position: fixed;
    left: 0;
    right: 250px;
    top: 0;
    background: #fff;
    z-index: 5;
}

.image-header-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}
.image-header-profile  img{
    height: 100%;
}
.profile-menu-header {
    float: left;
}

.right-menu-header {

    padding: 16px;
}

.right-menu-header, .content-header {
    float: right;

}

.profile-menu-header {
    padding: 7px;
    padding-left: 55px;
}

.profile-menu-header a {
    position: relative;
}

.profile-menu-header i {
    position: absolute;

    left: -75px;

    top: 18px;

    font-size: 20px;
}

.content-header {
    background: #28a745;
    color: #fff;
    height: 100%;
    padding: 20px 20px 0;
}

.right-menu-header a, .profile-menu-header a {
    color: #7f8c9b;
    margin: 5px;
}

.right-menu-header a {
    font-size: 30px;
}

.right-menu-header a:hover, .profile-menu-header a:hover {
    color: #2e353e;
}

.name-header-profile {
    position: relative;
    top: 18px;
    left: 10px;
}

.profile-list {
    position: absolute;
    width: 165px;
    background: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px #313a43;
    text-align: right;
    left: 40px;
    top: 65px;
    display: none;
    z-index: 999;
}

.profile-list li {
    margin: 5px;
}

.profile-list a {
    width: 100%;
    display: inline-block;
}

/*end style main header*/

/*start style sub-header*/
.sub-header {
    position: absolute;
    left: 0;
    background: #eff3f6;
    top: 63px;
    right: 0;
    text-align: center;
    border-bottom: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
}

.sub-header ul {
    text-align: center;
}

.sub-header a {
    padding: 16px;
    display: inline-block;
    color: #808c9b;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}

.sub-header a:hover {
    color: #313942;
}

.sub-header a:hover::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}

.sub-header a.active {
    color: #313942;
}

.sub-header a.active::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #28a745;
    height: 3px;
    width: 100%;
}

/*end style sub-header*/
/*start main content style */

.image_company {
    margin: 15px auto;

}

.sub-des {
    font-size: 11px;
}

.company_des > div {
    margin-bottom: 10px;
}

.rules-check {
    font-weight: 800;
}

.rules-check {
    font-weight: 800;
}

.main-content {
    padding: 60px 100px;
    direction: rtl;
}

.header-lable {
    display: block;
    margin: 13px;
    padding: 0;
}
.content-lable{
    font-weight:400 ;
}

.roules-check-inside {
    color: #28a745;
}

/*end main content style */
/*custom cods*/
.green-bot {
    margin: 15px 0;
    display: inline-block;
    background: #28a745;
    color: #fff;
    padding: 10px 35px;
    border-radius: 3px;
    text-align: center;
    border: none;
    transition: 300ms;
}

.width-full {
    width: 100%;
}

.green-bot:hover {
    color: #fff;
    background: #29A045;
    transition: 300ms;

}

.botton-inco {
    margin: 15px 7px;
    display: inline-block;
    color: #313a43;
    padding: 8px 35px;
    border-radius: 3px;
    text-align: center;
}

.botton-inco:hover {
    color: #fff;
}

.font-big {
    font-size: 23px;
    position: relative;
    top: 3px;
}

.little_header {
    width: 80px;
}

.little-main-header {
    right: 80px;
}

.background_mob_sec {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    display: none;
}

.radio-wrapper {
    margin: 10px;
}

.rules {
    margin: 7px 0;
    padding-bottom: 10px;
}

.rules > div, .kind_activity > div {
    float: right;
    overflow: hidden;
    padding: 10px;
    font-size: 15px;
}

.rules input {
    cursor: pointer;
    width: 23px;
    height: 23px;
    float: right;
    position: absolute;
    top: -5px;
    right: 217px;
    opacity: 0;
}

.rules input:checked + i {
    background: #28a745;
    color: #fff;
    padding: 4px;
}

.rules i {
    background: none;
    width: 23px;
    height: 23px;
    display: block;
    position: absolute;
    top: -5px;
    right: 217px;
    z-index: -1;
    color: #808c9c;
    border-radius: 50%;
    padding: 3px 2px;
    font-size: 14px;
}

@media screen and (max-width: 992px) {
    .right-header.desktop-header {
        display: none;
    }

    .right-header.mobile-header {
        display: block;
        right: -300px;
    }

    .main-header, .little-main-header {
        right: 0 !important;
    }

    #main, #main.little-main {
        margin-right: 0 !important;
    }

    .post-contents-table {
        width: 100%;
    }

    .copy-right {
        display: none;
    }

    .clouse_menu {
        display: none;
    }

    .clouse_menu_mob {
        display: block;
    }

    .show-header button {
        display: block;
    }

    .kind_user > div, .kind_activity > div {
        float: none;

    }

    .img-profile .submit {
        position: relative;
        width: 100%;
        margin: 25px auto;

    }

    .img-profile .submit label {
        width: 40%;
        padding: 12px 0;
    }

    .img-profile {
        float: none;
    }
}

@media screen and (max-width: 768px) {
    .image-content-post, .contents-post {
        width: 100%;
        float: none;
        margin: 10px 0;
        padding: 0;
    }

    .name-header-profile {
        display: none;
    }

    .profile-menu-header {
        padding: 7px;
        padding-left: 36px;
    }
}

@media screen and (max-width: 555px) {
    .content-header {
        display: none;
    }

}

@media screen and (max-width: 345px) {
    .sub-header a {
        font-size: 10px;

    }

    .sub-header {

        bottom: -44px;

    }
}